In [1]:
library('ggplot2')
library('ggpubr')
library('scales')
library('tidyverse')

── Attaching core tidyverse packages ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ lubridate 1.9.3     ✔ tibble    3.2.1
✔ purrr     1.0.2     ✔ tidyr     1.3.0
── Conflicts ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ readr::col_factor() masks scales::col_factor()
✖ purrr::discard()    masks scales::discard()
✖ dplyr::filter()     masks stats::filter()
✖ dplyr::lag()        masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
sessionInfo()

R version 4.3.2 (2023-10-31)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: CentOS Linux 7 (Core)

Matrix products: default
BLAS/LAPACK: /mnt/ndata/arvind/envs/R_4/lib/libopenblasp-r0.3.25.so;  LAPACK version 3.11.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

time zone: Europe/Zurich
tzcode source: system (glibc)

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
 [1] lubridate_1.9.3 forcats_1.0.0   stringr_1.5.1   dplyr_1.1.4
 [5] purrr_1.0.2     readr_2.1.5     tidyr_1.3.0     tibble_3.2.1
 [9] tidyverse_2.0.0 scales_1.3.0    ggpubr_0.6.0    ggplot2_3.4.4

loaded via a namespace (and not attached):
 [1] gtable_0.3.4     jsonlite_1.8.8   compiler_4.3.2   ggsignif_0.6.4
 [5] crayon_1.5.2     tidyselect_1.2.0 IRdisplay_1.1    uuid_1.2-0
 [9] fastmap_1.1.1    IRkernel_1.3.2   R6_2.5.1         generics_0.1.3
[13] backports_1.4.1  car_3.1-2        munsell_0.5.0    tzdb_0.4.0
[17] pillar_1.9.0     rlang_1.1.3      utf8_1.2.4       stringi_1.8.3
[21] broom_1.0.5      repr_1.1.6       timechange_0.3.0 cli_3.6.2
[25] withr_3.0.0      magrittr_2.0.3   digest_0.6.34    grid_4.3.2
[29] hms_1.1.3        base64enc_0.1-3  pbdZMQ_0.3-11    lifecycle_1.0.4
[33] vctrs_0.6.5      rstatix_0.7.2    evaluate_0.23    glue_1.7.0
[37] abind_1.4-5      carData_3.0-5    fansi_1.0.6      colorspace_2.1-0
[41] tools_4.3.2      pkgconfig_2.0.3  htmltools_0.5.7

# LUAD

## SelectSim Results

In [3]:
obj <- readRDS('/mnt/ptemp/arvind/catalogue_work_update/data/results/tumor_run/tcga/tcga_LUAD.rds')

In [4]:
select_orginal <- obj$result

In [5]:
boot_results <- list()
k=1
for (i in c(1:10)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/selectX/sampling_run_selectX_v4_result_80_',i,'.rds',sep="")
    boot_results[[k]] <- (readRDS(file=name))$result
    k=k+1
}

In [6]:
length(boot_results)

[1] 10

In [7]:
head(boot_results[[1]])

             SFE_1 SFE_2 name         support_1 support_2 freq_1     freq_2
EGFR - KRAS  EGFR  KRAS  EGFR - KRAS   50       122       0.12468828 0.3042394
KRAS - TP53  KRAS  TP53  KRAS - TP53  122       180       0.30423940 0.4488778
STK11 - TP53 STK11 TP53  STK11 - TP53  47       180       0.11720698 0.4488778
BRAF - KRAS  BRAF  KRAS  BRAF - KRAS   28       122       0.06982544 0.3042394
EGFR - STK11 EGFR  STK11 EGFR - STK11  50        47       0.12468828 0.1172070
KRAS - NF1   KRAS  NF1   KRAS - NF1   122        29       0.30423940 0.0723192
             overlap w_overlap max_overlap ⋯ w_r_overlap wES        wFDR
EGFR - KRAS   0       0.000000  50         ⋯ 15.103560   -10.679830 0.000000000
KRAS - TP53  43      32.382186 122         ⋯ 48.137634   -11.140784 0.000000000
STK11 - TP53 10       7.769323  47         ⋯ 18.491694    -7.581862 0.001109878
BRAF - KRAS   2       1.025000  28         ⋯  8.510871    -5.293310 0.004716981
EGFR - STK11  0       0.000000  47         ⋯  5.939998    -4.200213 0.014428413
KRAS - NF1    4       3.250000  29         ⋯  8.786415    -3.914837 0.014844617
             nES       mean_r_nES nFDR         cum_freq nFDR2        type FDR
EGFR - KRAS  -9.460696 -1.2191335 0.0000000000 172      0.0000000000 ME   TRUE
KRAS - TP53  -9.375665 -1.7651192 0.0000000000 302      0.0000000000 ME   TRUE
STK11 - TP53 -6.361211 -1.2206505 0.0003699593 227      0.0003699593 ME   TRUE
BRAF - KRAS  -4.405507 -0.8878030 0.0022197558 150      0.0022197558 ME   TRUE
EGFR - STK11 -3.341331 -0.8588823 0.0062153163  97      0.0062153163 ME   TRUE
KRAS - NF1   -2.982953 -0.9318839 0.0079541250 151      0.0077691454 ME   TRUE

In [8]:
selectX_100_pct_significnat_results <- select_orginal %>% filter(nFDR2<=0.25)

In [9]:
select_orginal %>% filter(nFDR2<=0.25)  %>% count()

  n
1 57

In [10]:
score_df<-data.frame('pairs'=selectX_100_pct_significnat_results$name)
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [11]:
head(score_df)

             pairs        Run_100
KRAS - TP53  KRAS - TP53  1
EGFR - KRAS  EGFR - KRAS  1
STK11 - TP53 STK11 - TP53 1
BRAF - KRAS  BRAF - KRAS  1
KRAS - STK11 KRAS - STK11 1
EGFR - TP53  EGFR - TP53  1

In [12]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    temp <- (boot_results[[i]] %>% filter(name %in% score_df$pairs) %>% filter(nFDR2<=0.25))$name
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [13]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [14]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/57
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [15]:
score_df_v3<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v3$Recovery <-as.factor(score_df_v3$Recovery)

In [16]:
score_df_v3

   Recovery n  pct
1  1        56 98.24561
2  2        54 94.73684
3  3        52 91.22807
4  4        50 87.71930
5  5        46 80.70175
6  6        42 73.68421
7  7        38 66.66667
8  8        37 64.91228
9  9        30 52.63158
10 10       26 45.61404

In [17]:
score_df %>% count(Total) %>% mutate(pct=(n*100/57))

   Total n  pct
1  0.0    1  1.754386
2  0.1    2  3.508772
3  0.2    2  3.508772
4  0.3    2  3.508772
5  0.4    4  7.017544
6  0.5    4  7.017544
7  0.6    4  7.017544
8  0.7    1  1.754386
9  0.8    7 12.280702
10 0.9    4  7.017544
11 1.0   26 45.614035

## Select

In [20]:
select_orginal <- readRDS('/mnt/ptemp/arvind/tool_comaprision/results/select/luad_all_results.rds')

In [21]:
boot_results <- list()
k=1
for (i in c(1:10)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/select/sampling_run_result_80_',i,'.rds',sep="")
    boot_results[[k]] <- readRDS(file=name)
    k=k+1
}

In [22]:
length(boot_results)

[1] 10

In [23]:
head(boot_results[[1]])

            SFE_1 SFE_2 name        type_1 type_2 int_type  support_1 support_2
AKT1 - ALK  AKT1  ALK   AKT1 - ALK  MUT    MUT    MUT - MUT 3          3
AKT1 - APC  AKT1  APC   AKT1 - APC  MUT    MUT    MUT - MUT 3          8
AKT1 - AR   AKT1  AR    AKT1 - AR   MUT    MUT    MUT - MUT 3          2
AKT1 - ATM  AKT1  ATM   AKT1 - ATM  MUT    MUT    MUT - MUT 3         15
AKT1 - BAP1 AKT1  BAP1  AKT1 - BAP1 MUT    MUT    MUT - MUT 3          4
AKT1 - BRAF AKT1  BRAF  AKT1 - BRAF MUT    MUT    MUT - MUT 3         28
            freq_1      freq_2      ⋯ abs_diff_overlap direction wMI_stat
AKT1 - ALK  0.007978723 0.007978723 ⋯ 0.026            ME        0.002341008
AKT1 - APC  0.007978723 0.021276596 ⋯ 0.078            ME        0.004773510
AKT1 - AR   0.007978723 0.005319149 ⋯ 0.026            ME        0.001549930
AKT1 - ATM  0.007978723 0.039893617 ⋯ 0.141            ME        0.005967738
AKT1 - BAP1 0.007978723 0.010638298 ⋯ 0.042            ME        0.002980355
AKT1 - BRAF 0.007978723 0.074468085 ⋯ 0.737            CO        0.001839621
            wMI_p.value ME_p.value E.r.wMI_stat MI_diff      wMI_p.value_FDR
AKT1 - ALK  1.000       0.974      0.002341008   0.000000000 FALSE
AKT1 - APC  1.000       0.925      0.004773510   0.000000000 FALSE
AKT1 - AR   1.000       0.974      0.001549930   0.000000000 FALSE
AKT1 - ATM  0.869       0.864      0.005967738   0.000000000 FALSE
AKT1 - BAP1 1.000       0.958      0.002980355   0.000000000 FALSE
AKT1 - BRAF 1.000       0.241      0.005861722  -0.004022101 FALSE
            select_score_good_cancer_cell_2017_criterion_1 select_score
AKT1 - ALK  FALSE                                          NA
AKT1 - APC  FALSE                                          NA
AKT1 - AR   FALSE                                          NA
AKT1 - ATM  FALSE                                          NA
AKT1 - BAP1 FALSE                                          NA
AKT1 - BRAF FALSE                                          NA

In [24]:
selectX_100_pct_significnat_results <- select_orginal %>% filter(wMI_p.value_FDR)

In [25]:
select_orginal %>% filter(wMI_p.value_FDR)  %>% count()

  n
1 20

In [26]:
score_df<-data.frame('pairs'=selectX_100_pct_significnat_results$name)
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [27]:
head(score_df)

                pairs           Run_100
BRAF - KRAS     BRAF - KRAS     1
CARD11 - ARID1A CARD11 - ARID1A 1
CDH1 - SMAD2    CDH1 - SMAD2    1
EGFR - KRAS     EGFR - KRAS     1
EGFR - STK11    EGFR - STK11    1
EZH2 - GNAS     EZH2 - GNAS     1

In [28]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    temp <- (boot_results[[i]] %>% filter(name %in% score_df$pairs) %>% filter(wMI_p.value_FDR))$name
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [29]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [30]:
score_df

                pairs           Run_100 Run_1 Run_2 Run_3 Run_4 Run_5 Run_6
BRAF - KRAS     BRAF - KRAS     1       1     1     1     1     1     1
CARD11 - ARID1A CARD11 - ARID1A 1       1     1     0     1     0     1
CDH1 - SMAD2    CDH1 - SMAD2    1       0     0     0     0     0     0
EGFR - KRAS     EGFR - KRAS     1       1     1     1     1     1     1
EGFR - STK11    EGFR - STK11    1       1     1     1     1     0     1
EZH2 - GNAS     EZH2 - GNAS     1       0     0     0     0     0     0
GNAQ - SPRTN    GNAQ - SPRTN    1       0     0     0     0     0     0
KRAS - TP53     KRAS - TP53     1       1     1     1     1     1     1
STK11 - TP53    STK11 - TP53    1       1     1     1     0     1     1
KDR - SLFN11    KDR - SLFN11    1       0     1     0     0     1     0
KDR - BRCA1     KDR - BRCA1     1       1     1     0     1     1     1
SETBP1 - PBRM1  SETBP1 - PBRM1  1       1     1     0     0     0     0
DIS3 - HOXB13   DIS3 - HOXB13   1       0     0     0     0     0     1
FOXA1 - CASP8   FOXA1 - CASP8   1       1     0     0     0     0     0
KNSTRN - NBN    KNSTRN - NBN    1       0     0     0     0     0     0
VAV1 - ATRX     VAV1 - ATRX     1       1     0     0     1     1     1
BIRC3 - AJUBA   BIRC3 - AJUBA   1       0     0     0     0     0     0
BLM - KMT2B     BLM - KMT2B     1       0     0     0     0     1     0
FH - ARID5B     FH - ARID5B     1       0     0     0     1     0     0
TBX3 - SHQ1     TBX3 - SHQ1     1       0     0     0     0     0     0
                Run_7 Run_8 Run_9 Run_10 Total_count Total
BRAF - KRAS     1     1     1     0       9          0.9
CARD11 - ARID1A 0     0     0     0       4          0.4
CDH1 - SMAD2    0     0     0     0       0          0.0
EGFR - KRAS     1     1     1     1      10          1.0
EGFR - STK11    0     1     1     1       8          0.8
EZH2 - GNAS     0     0     0     1       1          0.1
GNAQ - SPRTN    0     0     0     0       0          0.0
KRAS - TP53     1     1     1     1      10          1.0
STK11 - TP53    1     1     1     1       9          0.9
KDR - SLFN11    1     1     1     0       5          0.5
KDR - BRCA1     1     0     0     1       7          0.7
SETBP1 - PBRM1  1     0     0     0       3          0.3
DIS3 - HOXB13   0     0     0     0       1          0.1
FOXA1 - CASP8   0     0     0     0       1          0.1
KNSTRN - NBN    0     0     0     0       0          0.0
VAV1 - ATRX     0     0     1     1       6          0.6
BIRC3 - AJUBA   0     0     1     0       1          0.1
BLM - KMT2B     0     1     0     0       2          0.2
FH - ARID5B     0     0     0     0       1          0.1
TBX3 - SHQ1     0     1     0     0       1          0.1

In [31]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/20
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [32]:
score_df_v4<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v4$Recovery <-as.factor(score_df_v4$Recovery)

In [33]:
score_df_v4

   Recovery n  pct
1  1        17 85
2  2        11 55
3  3        10 50
4  4         9 45
5  5         8 40
6  6         7 35
7  7         6 30
8  8         5 25
9  9         4 20
10 10        2 10

In [34]:
score_df %>% count(Total) %>% mutate(pct=(n*100/20))

   Total n pct
1  0.0   3 15
2  0.1   6 30
3  0.2   1  5
4  0.3   1  5
5  0.4   1  5
6  0.5   1  5
7  0.6   1  5
8  0.7   1  5
9  0.8   1  5
10 0.9   2 10
11 1.0   2 10

## GamTOC

In [35]:
select_orginal <- read.table('/mnt/ptemp/arvind/tool_comaprision/results/gamtoc/luad_all.txt',header = TRUE)

In [36]:
boot_results <- list()
k=1
for (i in c(1:5)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/tool/gamtoc/luad_run/luad_results/luad_V',i,'.txt',sep="")
    boot_results[[k]] <- read.table(file=name,header = TRUE)
    k=k+1
}

In [37]:
for (i in c(11:15)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/tool/gamtoc/luad_run/luad_results/luad_V',i,'_result.txt',sep="")
    boot_results[[k]] <- read.table(file=name,header = TRUE)
    k=k+1
}

In [38]:
length(boot_results)

[1] 10

In [39]:
head(boot_results[[10]])

  node1 node2 corr  tc log.hyg importance
1 EGFR  KRAS  -0.23 0  0       0
2 EGFR  BRAF  -0.07 0  0       0
3 KRAS  BRAF  -0.18 0  0       0
4 EGFR  TP53   0.01 0  0       0
5 KRAS  TP53  -0.21 0  0       0
6 BRAF  TP53   0.04 0  0       0

In [40]:
length(unique(paste(select_orginal$node2,select_orginal$node1,sep=' - ')))

[1] 21

In [41]:
selectX_100_pct_significnat_results <- select_orginal

In [42]:
select_orginal %>% count()

  n
1 21

In [43]:
score_df<-data.frame('pairs'=paste(select_orginal$node2,select_orginal$node1,sep=' - '))
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [44]:
head(score_df)

             pairs        Run_100
KRAS - EGFR  KRAS - EGFR  1
TP53 - EGFR  TP53 - EGFR  1
TP53 - KRAS  TP53 - KRAS  1
STK11 - EGFR STK11 - EGFR 1
STK11 - KRAS STK11 - KRAS 1
STK11 - TP53 STK11 - TP53 1

In [45]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    boot_results[[i]]$name_2 <- paste(boot_results[[i]]$node2,boot_results[[i]]$node1,sep=' - ')
    temp <- (boot_results[[i]] %>% filter(name_2 %in% score_df$pairs))$name_2
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [46]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [47]:
score_df

              pairs         Run_100 Run_1 Run_2 Run_3 Run_4 Run_5 Run_6 Run_7
KRAS - EGFR   KRAS - EGFR   1       1     1     1     1     1     1     1
TP53 - EGFR   TP53 - EGFR   1       1     1     1     1     1     1     1
TP53 - KRAS   TP53 - KRAS   1       1     1     1     1     1     1     1
STK11 - EGFR  STK11 - EGFR  1       1     1     1     1     1     1     1
STK11 - KRAS  STK11 - KRAS  1       1     1     1     1     1     1     1
STK11 - TP53  STK11 - TP53  1       0     1     1     1     1     0     1
KEAP1 - EGFR  KEAP1 - EGFR  1       1     1     1     0     0     1     1
KEAP1 - KRAS  KEAP1 - KRAS  1       1     1     1     0     0     1     1
KEAP1 - TP53  KEAP1 - TP53  1       1     1     1     0     0     1     1
KEAP1 - STK11 KEAP1 - STK11 1       1     1     1     0     0     1     1
NF1 - EGFR    NF1 - EGFR    1       1     0     1     1     0     1     0
NF1 - KRAS    NF1 - KRAS    1       1     0     1     1     0     1     0
NF1 - TP53    NF1 - TP53    1       1     0     1     1     0     1     0
NF1 - STK11   NF1 - STK11   1       1     0     1     1     0     1     0
NF1 - KEAP1   NF1 - KEAP1   1       1     0     1     0     0     1     0
BRAF - EGFR   BRAF - EGFR   1       0     0     0     1     1     0     0
BRAF - KRAS   BRAF - KRAS   1       0     0     0     1     1     0     0
BRAF - TP53   BRAF - TP53   1       0     0     0     1     0     0     0
BRAF - STK11  BRAF - STK11  1       0     0     0     1     0     0     0
BRAF - KEAP1  BRAF - KEAP1  1       0     0     0     0     0     0     0
BRAF - NF1    BRAF - NF1    1       0     0     0     1     0     0     0
              Run_8 Run_9 Run_10 Total_count Total
KRAS - EGFR   1     1     1      10          1.0
TP53 - EGFR   1     1     1      10          1.0
TP53 - KRAS   1     1     1      10          1.0
STK11 - EGFR  1     1     1      10          1.0
STK11 - KRAS  1     1     1      10          1.0
STK11 - TP53  1     1     1       8          0.8
KEAP1 - EGFR  1     0     0       6          0.6
KEAP1 - KRAS  1     0     0       6          0.6
KEAP1 - TP53  1     0     0       6          0.6
KEAP1 - STK11 1     0     0       6          0.6
NF1 - EGFR    1     1     0       6          0.6
NF1 - KRAS    1     1     0       6          0.6
NF1 - TP53    1     1     0       6          0.6
NF1 - STK11   1     1     0       6          0.6
NF1 - KEAP1   1     0     0       4          0.4
BRAF - EGFR   0     1     1       4          0.4
BRAF - KRAS   0     1     1       4          0.4
BRAF - TP53   0     1     0       2          0.2
BRAF - STK11  0     1     0       2          0.2
BRAF - KEAP1  0     0     0       0          0.0
BRAF - NF1    0     1     0       2          0.2

In [48]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/21
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [49]:
score_df_v5<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v5$Recovery <-as.factor(score_df_v5$Recovery)

In [50]:
score_df_v5

   Recovery n  pct
1  1        20 95.23810
2  2        20 95.23810
3  3        17 80.95238
4  4        17 80.95238
5  5        14 66.66667
6  6        14 66.66667
7  7         6 28.57143
8  8         6 28.57143
9  9         5 23.80952
10 10        5 23.80952

In [51]:
score_df %>% count(Total) %>% mutate(pct=(n*100/21))

  Total n pct
1 0.0   1  4.761905
2 0.2   3 14.285714
3 0.4   3 14.285714
4 0.6   8 38.095238
5 0.8   1  4.761905
6 1.0   5 23.809524

## Discover

In [54]:
select_orginal <- readRDS('/mnt/ptemp/arvind/tool_comaprision/results/Discover/luad_all.rds')

In [55]:
boot_results <- list()
k=1
for (i in c(1:10)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/Discover/sampling_run_result_80_',i,'.rds',sep="")
    boot_results[[k]] <- readRDS(file=name)
    k=k+1
}

In [56]:
length(boot_results)

[1] 10

In [57]:
head(boot_results[[1]])

   gene1 gene2 p.value      q.value      type
7  KRAS  EGFR  5.168980e-10 1.637007e-09 ME
24 TP53  STK11 9.902545e-05 6.124225e-04 ME
10 STK11 EGFR  1.804629e-04 7.117364e-04 ME
19 TP53  KRAS  3.001285e-04 9.796278e-04 ME
3  KRAS  BRAF  6.082680e-04 1.370175e-03 ME
11 KEAP1 EGFR  5.566849e-03 2.139584e-02 ME

In [58]:
head(select_orginal)

   gene1   gene2 p.value      q.value      type
9  KRAS    EGFR  5.262128e-12 1.291624e-11 ME
24 TP53    KRAS  6.338431e-06 2.798847e-05 ME
34 TP53    STK11 2.300666e-05 7.399900e-05 ME
4  KRAS    BRAF  2.755737e-05 7.399900e-05 ME
12 STK11   EGFR  3.197317e-05 7.399900e-05 ME
23 SMARCA4 KRAS  2.293668e-03 7.316367e-03 ME

In [59]:
length(unique(paste(select_orginal$gene2,select_orginal$gene1,sep=' - ')))

[1] 38

In [60]:
selectX_100_pct_significnat_results <- select_orginal

In [61]:
select_orginal %>% count()

  n
1 38

In [62]:
score_df<-data.frame('pairs'=paste(select_orginal$gene2,select_orginal$gene1,sep=' - '))
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [63]:
head(score_df)

               pairs          Run_100
EGFR - KRAS    EGFR - KRAS    1
KRAS - TP53    KRAS - TP53    1
STK11 - TP53   STK11 - TP53   1
BRAF - KRAS    BRAF - KRAS    1
EGFR - STK11   EGFR - STK11   1
KRAS - SMARCA4 KRAS - SMARCA4 1

In [64]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    boot_results[[i]]$name_2 <- paste(boot_results[[i]]$gene2,boot_results[[i]]$gene1,sep=' - ')
    temp <- (boot_results[[i]] %>% filter(name_2 %in% score_df$pairs))$name_2
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [65]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [66]:
score_df

               pairs          Run_100 Run_1 Run_2 Run_3 Run_4 Run_5 Run_6 Run_7
EGFR - KRAS    EGFR - KRAS    1       1     1     1     1     1     1     1
KRAS - TP53    KRAS - TP53    1       1     1     1     1     1     1     1
STK11 - TP53   STK11 - TP53   1       1     1     1     1     1     1     1
BRAF - KRAS    BRAF - KRAS    1       1     1     1     1     1     1     1
EGFR - STK11   EGFR - STK11   1       1     1     1     1     1     1     1
KRAS - SMARCA4 KRAS - SMARCA4 1       1     1     1     1     1     1     1
KRAS - NF1     KRAS - NF1     1       1     1     1     1     1     1     1
EGFR - KEAP1   EGFR - KEAP1   1       1     1     1     1     1     1     1
ATM - TP53     ATM - TP53     1       1     1     1     1     1     1     1
TP53 - RBM10   TP53 - RBM10   1       1     1     1     1     1     1     1
KRAS - RB1     KRAS - RB1     1       1     1     1     1     1     1     1
EGFR - SMARCA4 EGFR - SMARCA4 1       1     1     1     1     1     1     1
KRAS - MET     KRAS - MET     1       1     1     1     1     1     1     1
TP53 - KEAP1   TP53 - KEAP1   1       1     1     1     1     1     1     0
KRAS - SMAD4   KRAS - SMAD4   1       1     1     1     1     1     1     1
CTNNB1 - TP53  CTNNB1 - TP53  1       1     1     1     0     1     1     1
MET - TP53     MET - TP53     1       1     1     1     1     1     1     1
SETD2 - TP53   SETD2 - TP53   1       1     1     1     1     1     1     1
KRAS - ATRX    KRAS - ATRX    1       1     1     1     1     1     1     1
EGFR - NF1     EGFR - NF1     1       1     1     1     1     1     1     1
CTNNB1 - KRAS  CTNNB1 - KRAS  1       1     1     1     0     1     1     0
KRAS - SETD2   KRAS - SETD2   1       1     1     1     1     1     1     0
KRAS - MGA     KRAS - MGA     1       0     0     1     0     0     1     1
BRAF - EGFR    BRAF - EGFR    1       0     0     0     0     1     0     1
STK11 - CMTR2  STK11 - CMTR2  1       1     1     1     0     0     1     1
KRAS - SOS1    KRAS - SOS1    1       0     1     1     0     1     0     1
BRAF - STK11   BRAF - STK11   1       0     0     1     1     1     0     0
KRAS - PTPRD   KRAS - PTPRD   1       0     0     1     1     1     1     1
CDKN2A - KRAS  CDKN2A - KRAS  1       1     0     0     0     0     0     0
APC - KRAS     APC - KRAS     1       1     0     1     0     0     1     0
KRAS - PIK3CA  KRAS - PIK3CA  1       1     0     0     0     1     0     0
ERBB2 - KRAS   ERBB2 - KRAS   1       0     0     0     1     0     0     0
KRAS - MAP2K1  KRAS - MAP2K1  1       0     0     1     0     0     0     1
KRAS - MED12   KRAS - MED12   1       0     1     0     1     1     1     1
SMAD4 - STK11  SMAD4 - STK11  1       0     0     0     0     0     0     0
KRAS - PTPRT   KRAS - PTPRT   1       0     0     0     1     0     1     1
NF1 - MGA      NF1 - MGA      1       1     0     0     0     0     0     0
TP53 - PTPRD   TP53 - PTPRD   1       0     0     0     0     0     1     1
               Run_8 Run_9 Run_10 Total_count Total
EGFR - KRAS    1     1     1      10          1.0
KRAS - TP53    1     1     1      10          1.0
STK11 - TP53   1     1     1      10          1.0
BRAF - KRAS    1     1     1      10          1.0
EGFR - STK11   1     1     1      10          1.0
KRAS - SMARCA4 1     1     1      10          1.0
KRAS - NF1     1     1     1      10          1.0
EGFR - KEAP1   1     1     1      10          1.0
ATM - TP53     1     1     1      10          1.0
TP53 - RBM10   1     1     1      10          1.0
KRAS - RB1     1     1     1      10          1.0
EGFR - SMARCA4 1     1     1      10          1.0
KRAS - MET     1     1     1      10          1.0
TP53 - KEAP1   1     0     1       8          0.8
KRAS - SMAD4   1     0     1       9          0.9
CTNNB1 - TP53  0     1     1       8          0.8
MET - TP53     1     1     1      10          1.0
SETD2 - TP53   1     1     1      10          1.0
KRAS - ATRX    1     1     1      10          1.0
EGFR - NF1     0     1     1       9          0.9
CTNNB1 - KRAS  0     1     1       7          0.7
KRAS - SETD2   0     1     0       7          0.7
KRAS - MGA     1     1     1       6          0.6
BRAF - EGFR    0     1     1       4          0.4
STK11 - CMTR2  1     1     1       8          0.8
KRAS - SOS1    0     1     1       6          0.6
BRAF - STK11   0     0     0       3          0.3
KRAS - PTPRD   0     0     0       5          0.5
CDKN2A - KRAS  0     0     0       1          0.1
APC - KRAS     0     0     0       3          0.3
KRAS - PIK3CA  1     0     0       3          0.3
ERBB2 - KRAS   0     0     0       1          0.1
KRAS - MAP2K1  0     1     0       3          0.3
KRAS - MED12   0     0     0       5          0.5
SMAD4 - STK11  0     0     0       0          0.0
KRAS - PTPRT   0     0     0       3          0.3
NF1 - MGA      0     0     0       1          0.1
TP53 - PTPRD   0     0     1       3          0.3

In [67]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/38
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [68]:
score_df_v6<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v6$Recovery <-as.factor(score_df_v6$Recovery)

In [69]:
score_df_v6

   Recovery n  pct
1  1        37 97.36842
2  2        34 89.47368
3  3        34 89.47368
4  4        28 73.68421
5  5        27 71.05263
6  6        25 65.78947
7  7        23 60.52632
8  8        21 55.26316
9  9        18 47.36842
10 10       16 42.10526

In [70]:
score_df %>% count(Total) %>% mutate(pct=(n*100/38))

   Total n  pct
1  0.0    1  2.631579
2  0.1    3  7.894737
3  0.3    6 15.789474
4  0.4    1  2.631579
5  0.5    2  5.263158
6  0.6    2  5.263158
7  0.7    2  5.263158
8  0.8    3  7.894737
9  0.9    2  5.263158
10 1.0   16 42.105263

## weSME

In [73]:
wesme_me <- read.table('/mnt/ptemp/arvind/tool_comaprision/results/wesme/LUAD_smut_me_pvs_0.1.txt',sep="	",header = TRUE)
wesme_co <- read.table('/mnt/ptemp/arvind/tool_comaprision/results/wesme/LUAD_smut_co_pvs_0.1.txt',sep="	",,header = TRUE)
wesme <- rbind(wesme_me,wesme_co[,colnames(wesme_me)])
wesme$type <- c(rep("ME",nrow(wesme_me)),rep("CO",nrow(wesme_co)))

In [74]:
select_orginal<-wesme

In [75]:
boot_results <- list()
k=1
for (i in c(1:5)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/wesme/LUAD_',i,'_smut_me_pvs_0.1.txt',sep="")
    wesme_me <- read.table(name,sep="	",header = TRUE)
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/wesme/LUAD_',i,'_smut_co_pvs_0.1.txt',sep="")
    wesme_co <- read.table(name,sep="	",,header = TRUE)
    wesme <- rbind(wesme_me,wesme_co[,colnames(wesme_me)])
    wesme$type <- c(rep("ME",nrow(wesme_me)),rep("CO",nrow(wesme_co)))
    boot_results[[k]] <- wesme
    k=k+1
}

In [76]:
for (i in c(11:15)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/wesme/LUAD_',i,'_smut_me_pvs_0.1.txt',sep="")
    wesme_me <- read.table(name,sep="	",header = TRUE)
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/wesme/LUAD_',i,'_smut_co_pvs_0.1.txt',sep="")
    wesme_co <- read.table(name,sep="	",,header = TRUE)
    wesme <- rbind(wesme_me,wesme_co[,colnames(wesme_me)])
    wesme$type <- c(rep("ME",nrow(wesme_me)),rep("CO",nrow(wesme_co)))
    boot_results[[k]] <- wesme
    k=k+1
}

In [77]:
length(boot_results)

[1] 10

In [78]:
head(boot_results[[1]])

  gene1  gene2 jaccard.index pv..ws. type
1 APC    KRAS  0.00000000    0.00718 ME
2 ATM    TP53  0.02162162    0.00348 ME
3 BRAF   KRAS  0.01324503    0.00003 ME
4 BRAF   KEAP1 0.00000000    0.05470 ME
5 CDKN2A KRAS  0.02205882    0.09510 ME
6 CTNNB1 KRAS  0.00000000    0.00403 ME

In [79]:
head(select_orginal)

  gene1 gene2 jaccard.index pv..ws. type
1 APC   KRAS  0.006134969   0.03900 ME
2 APC   TP53  0.013157895   0.07060 ME
3 ATM   TP53  0.016736402   0.00018 ME
4 BRAF  EGFR  0.022222222   0.05790 ME
5 BRAF  KRAS  0.010695187   0.00000 ME
6 BRAF  STK11 0.021739130   0.04880 ME

In [80]:
length(unique(paste(select_orginal$gene2,select_orginal$gene1,sep=' - ')))

[1] 827

In [81]:
selectX_100_pct_significnat_results <- select_orginal

In [82]:
select_orginal %>% count()

  n
1 827

In [83]:
score_df<-data.frame('pairs'=paste(select_orginal$gene2,select_orginal$gene1,sep=' - '))
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [84]:
head(score_df)

             pairs        Run_100
KRAS - APC   KRAS - APC   1
TP53 - APC   TP53 - APC   1
TP53 - ATM   TP53 - ATM   1
EGFR - BRAF  EGFR - BRAF  1
KRAS - BRAF  KRAS - BRAF  1
STK11 - BRAF STK11 - BRAF 1

In [85]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    boot_results[[i]]$name_2 <- paste(boot_results[[i]]$gene2,boot_results[[i]]$gene1,sep=' - ')
    temp <- (boot_results[[i]] %>% filter(name_2 %in% score_df$pairs))$name_2
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [86]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [87]:
score_df

               pairs          Run_100 Run_1 Run_2 Run_3 Run_4 Run_5 Run_6 Run_7
KRAS - APC     KRAS - APC     1       1     0     1     0     1     1     0
TP53 - APC     TP53 - APC     1       0     1     0     0     0     0     0
TP53 - ATM     TP53 - ATM     1       1     1     1     1     1     1     1
EGFR - BRAF    EGFR - BRAF    1       0     1     0     1     1     0     0
KRAS - BRAF    KRAS - BRAF    1       1     1     1     1     1     1     1
STK11 - BRAF   STK11 - BRAF   1       0     0     0     0     0     0     0
KRAS - CDKN2A  KRAS - CDKN2A  1       1     0     0     1     0     1     0
KRAS - CTNNB1  KRAS - CTNNB1  1       1     0     1     1     1     1     1
TP53 - CTNNB1  TP53 - CTNNB1  1       1     1     1     1     1     1     1
KRAS - EGFR    KRAS - EGFR    1       1     1     1     1     1     1     1
NF1 - EGFR     NF1 - EGFR     1       1     1     0     1     1     1     1
SMARCA4 - EGFR SMARCA4 - EGFR 1       1     1     1     1     1     1     1
STK11 - EGFR   STK11 - EGFR   1       1     1     1     1     1     1     1
KEAP1 - EGFR   KEAP1 - EGFR   1       1     1     1     1     1     1     1
KRAS - ERBB2   KRAS - ERBB2   1       0     1     0     1     1     1     0
MAP2K1 - KRAS  MAP2K1 - KRAS  1       1     1     1     1     1     1     1
MED12 - KRAS   MED12 - KRAS   1       1     1     1     1     1     1     1
MET - KRAS     MET - KRAS     1       1     1     1     1     1     1     1
NF1 - KRAS     NF1 - KRAS     1       1     1     1     1     1     1     1
PIK3CA - KRAS  PIK3CA - KRAS  1       1     0     1     0     1     1     0
RB1 - KRAS     RB1 - KRAS     1       1     1     1     1     1     1     1
SETD2 - KRAS   SETD2 - KRAS   1       1     0     1     1     1     1     1
SMAD4 - KRAS   SMAD4 - KRAS   1       1     1     1     1     1     1     1
SMARCA4 - KRAS SMARCA4 - KRAS 1       1     1     1     1     1     1     1
TP53 - KRAS    TP53 - KRAS    1       1     1     1     1     1     1     1
MAP2K4 - KRAS  MAP2K4 - KRAS  1       1     0     1     0     0     0     0
ROS1 - KRAS    ROS1 - KRAS    1       0     0     0     0     0     0     0
PTPRT - KRAS   PTPRT - KRAS   1       1     1     1     0     1     1     0
PTPRD - KRAS   PTPRD - KRAS   1       1     1     1     1     0     1     0
RASA1 - KRAS   RASA1 - KRAS   1       0     1     0     0     0     0     0
⋮              ⋮              ⋮       ⋮     ⋮     ⋮     ⋮     ⋮     ⋮     ⋮
MAX - ATR      MAX - ATR      1       1     1     1     1     1     1     1
TLE4 - ATR     TLE4 - ATR     1       1     0     1     0     1     0     1
BCORL1 - FLCN  BCORL1 - FLCN  1       0     1     1     1     1     1     1
NSD1 - KMT2A   NSD1 - KMT2A   1       1     1     1     1     1     1     1
CUX1 - SPEN    CUX1 - SPEN    1       1     1     0     1     1     0     1
ASXL2 - SPEN   ASXL2 - SPEN   1       1     1     1     1     0     1     0
DUSP4 - SPEN   DUSP4 - SPEN   1       0     1     0     1     0     0     1
MGA - SPEN     MGA - SPEN     1       1     1     0     0     1     0     1
PTPRS - SPEN   PTPRS - SPEN   1       0     1     0     1     0     0     1
ARID4B - SPEN  ARID4B - SPEN  1       0     1     0     1     0     0     1
EP400 - SPEN   EP400 - SPEN   1       1     1     1     0     1     0     1
HLA-A - BCL10  HLA-A - BCL10  1       1     0     1     1     1     1     1
CD58 - BCORL1  CD58 - BCORL1  1       1     1     1     1     1     1     1
LATS1 - CHEK1  LATS1 - CHEK1  1       1     1     0     1     1     1     1
NBN - EPHA3    NBN - EPHA3    1       0     1     1     1     1     1     0
CUX1 - EPHA3   CUX1 - EPHA3   1       1     0     1     0     0     1     1
LATS1 - EPHA3  LATS1 - EPHA3  1       0     1     1     1     1     1     0
EP400 - EPHA3  EP400 - EPHA3  1       1     1     0     1     0     0     0
AJUBA - EPHA3  AJUBA - EPHA3  1       1     1     0     1     1     0     0
LATS1 - NBN    LATS1 - NBN    1       0     1     1     1     1     1     0
SHQ1 - TBX3    SHQ1 - TBX3    1       1     1     1     0     1     1     1
ECT2L - CUX1   ECT2L - CUX1   1       1     1     1     1     1     1     1
NOTCH4 - EPHA7 NOTCH4 - EPHA7 1       1     1     1     1     1     1     0
TLE4 - DNMT3B  TLE4 - DNMT3B  1       1     0     0     1     1     1     1
PTPRS - DUSP4  PTPRS - DUSP4  1       0     1     0     1     0     0     1
ARID4B - DUSP4 ARID4B - DUSP4 1       0     1     0     1     0     0     1
SESN2 - MGA    SESN2 - MGA    1       1     0     0     0     1     1     1
RECQL - NOTCH4 RECQL - NOTCH4 1       1     1     1     1     0     1     1
ARID4B - PTPRS ARID4B - PTPRS 1       0     1     0     1     0     0     1
AJUBA - EP400  AJUBA - EP400  1       1     1     0     1     1     0     0
               Run_8 Run_9 Run_10 Total_count Total
KRAS - APC     1     0     0       5          0.5
TP53 - APC     1     0     1       3          0.3
TP53 - ATM     1     1     1      10          1.0
EGFR - BRAF    0     0     1       4          0.4
KRAS - BRAF    1     1     1      10          1.0
STK11 - BRAF   1     1     1       3          0.3
KRAS - CDKN2A  1     1     1       6          0.6
KRAS - CTNNB1  1     0     1       8          0.8
TP53 - CTNNB1  1     1     1      10          1.0
KRAS - EGFR    1     1     1      10          1.0
NF1 - EGFR     1     1     1       9          0.9
SMARCA4 - EGFR 1     1     1      10          1.0
STK11 - EGFR   1     1     1      10          1.0
KEAP1 - EGFR   1     1     1      10          1.0
KRAS - ERBB2   1     1     0       6          0.6
MAP2K1 - KRAS  1     0     1       9          0.9
MED12 - KRAS   0     1     1       9          0.9
MET - KRAS     1     1     1      10          1.0
NF1 - KRAS     1     1     1      10          1.0
PIK3CA - KRAS  0     0     1       5          0.5
RB1 - KRAS     1     1     1      10          1.0
SETD2 - KRAS   1     1     1       9          0.9
SMAD4 - KRAS   1     1     1      10          1.0
SMARCA4 - KRAS 1     1     1      10          1.0
TP53 - KRAS    1     1     1      10          1.0
MAP2K4 - KRAS  0     0     1       3          0.3
ROS1 - KRAS    0     0     0       0          0.0
PTPRT - KRAS   0     1     0       6          0.6
PTPRD - KRAS   1     1     1       8          0.8
RASA1 - KRAS   0     0     1       2          0.2
⋮              ⋮     ⋮     ⋮      ⋮           ⋮
MAX - ATR      1     1     1      10          1.0
TLE4 - ATR     1     0     0       5          0.5
BCORL1 - FLCN  0     1     1       8          0.8
NSD1 - KMT2A   1     1     1      10          1.0
CUX1 - SPEN    1     1     1       8          0.8
ASXL2 - SPEN   1     0     0       6          0.6
DUSP4 - SPEN   1     1     1       6          0.6
MGA - SPEN     1     1     1       7          0.7
PTPRS - SPEN   1     1     1       6          0.6
ARID4B - SPEN  1     1     1       6          0.6
EP400 - SPEN   1     1     1       8          0.8
HLA-A - BCL10  0     1     0       7          0.7
CD58 - BCORL1  1     0     0       8          0.8
LATS1 - CHEK1  0     1     1       8          0.8
NBN - EPHA3    1     1     0       7          0.7
CUX1 - EPHA3   1     0     1       6          0.6
LATS1 - EPHA3  1     1     0       7          0.7
EP400 - EPHA3  0     0     1       4          0.4
AJUBA - EPHA3  0     0     1       5          0.5
LATS1 - NBN    1     1     0       7          0.7
SHQ1 - TBX3    1     0     0       7          0.7
ECT2L - CUX1   1     0     0       8          0.8
NOTCH4 - EPHA7 1     1     1       9          0.9
TLE4 - DNMT3B  1     0     1       7          0.7
PTPRS - DUSP4  1     1     1       6          0.6
ARID4B - DUSP4 1     1     1       6          0.6
SESN2 - MGA    1     1     1       7          0.7
RECQL - NOTCH4 1     1     1       9          0.9
ARID4B - PTPRS 1     1     1       6          0.6
AJUBA - EP400  0     0     1       5          0.5

In [88]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/827
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [89]:
score_df_v7<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v7$Recovery <-as.factor(score_df_v7$Recovery)

In [90]:
score_df_v7

   Recovery n   pct
1  1        824 99.63724
2  2        821 99.27449
3  3        817 98.79081
4  4        798 96.49335
5  5        775 93.71221
6  6        713 86.21524
7  7        614 74.24426
8  8        448 54.17170
9  9        293 35.42926
10 10       131 15.84039

## coselens

In [91]:
select_orginal <- readRDS('/mnt/ptemp/arvind/tool_comaprision/results/coselens/coselns_luad_all_results.rds')

In [92]:
boot_results <- list()
k=1
for (i in c(1:10)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/coselens/luad_sampling_run_',i,'.rds',sep="")
    boot_results[[k]] <- readRDS(file=name)
    k=k+1
}

In [93]:
length(boot_results)

[1] 10

In [94]:
head(boot_results[[1]])

  gene_name num.drivers.group1 num.drivers.group2 pmis      ptrunc pall
1 ABL1       2.650543e-02      0.0009875042       0.4712079 1      0.77138244
2 ACTG1     -9.009542e-05      0.0107835776       0.8769490 1      0.98808415
3 ACVR1     -7.785338e-04      0.0134844626       0.8564205 1      0.98376493
4 AJUBA     -3.775796e-04      0.0051549760       0.9113446 1      0.99382058
5 AKT1       6.643469e-02      0.0051965984       0.0241362 1      0.07867662
6 AKT2       3.308704e-02      0.0162232109       0.5490480 1      0.83567735
  pind pglobal   qall      qglobal DeltaNd      type split_gene pair
1 1    0.9716109 1.0000000 1        0.025517929 CO   EP400      EP400 - ABL1
2 1    0.9999287 1.0000000 1       -0.010873673 ME   EP400      EP400 - ACTG1
3 1    0.9998675 1.0000000 1       -0.014262996 ME   EP400      EP400 - ACVR1
4 1    0.9999809 1.0000000 1       -0.005532556 ME   EP400      EP400 - AJUBA
5 1    0.2787048 0.5567185 1        0.061238097 CO   EP400      EP400 - AKT1
6 1    0.9856920 1.0000000 1        0.016863824 CO   EP400      EP400 - AKT2

In [95]:
selectX_100_pct_significnat_results <- select_orginal %>% filter(gene_name!=split_gene) %>% mutate('id'=case_when(gene_name>split_gene ~ paste(split_gene,gene_name,sep=" - "),
                                       gene_name<split_gene ~ paste(gene_name,split_gene,sep=" - "))) %>%  filter(qall<=0.05)

In [96]:
selectX_100_pct_significnat_results <- selectX_100_pct_significnat_results[!duplicated(selectX_100_pct_significnat_results$id),]

In [97]:
dim(selectX_100_pct_significnat_results)

[1] 442  15

In [98]:
selectX_100_pct_significnat_results %>% count()

  n
1 442

In [99]:
score_df<-data.frame('pairs'=selectX_100_pct_significnat_results$id)
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [100]:
head(score_df)

               pairs          Run_100
AMER1 - EP400  AMER1 - EP400  1
DICER1 - EP400 DICER1 - EP400 1
EP400 - PDGFRA EP400 - PDGFRA 1
EP400 - PLCG2  EP400 - PLCG2  1
EP400 - PTPRD  EP400 - PTPRD  1
EP400 - PTPRT  EP400 - PTPRT  1

In [101]:
dim(score_df)

[1] 442   2

In [102]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    test<- boot_results[[i]] %>% filter(gene_name!=split_gene) %>% mutate('id'=case_when(gene_name>split_gene ~ paste(split_gene,gene_name,sep=" - "),
                                       gene_name<split_gene ~ paste(gene_name,split_gene,sep=" - "))) %>%  filter(qall<=0.05) 
    test<- test[!duplicated(test$id),]
    temp <- unique(test$id)
    pairs <- intersect(score_df$pairs,temp)
    score_df[pairs,][[paste('Run',i,sep="_")]]<-1
}

In [103]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8)/8

In [104]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [105]:
score_df

                pairs           Run_100 Run_1 Run_2 Run_3 Run_4 Run_5 Run_6
AMER1 - EP400   AMER1 - EP400   1       1     0     0     0     1     0
DICER1 - EP400  DICER1 - EP400  1       0     1     1     0     0     0
EP400 - PDGFRA  EP400 - PDGFRA  1       1     1     1     0     1     1
EP400 - PLCG2   EP400 - PLCG2   1       0     0     0     1     0     0
EP400 - PTPRD   EP400 - PTPRD   1       1     1     1     1     1     1
EP400 - PTPRT   EP400 - PTPRT   1       1     1     1     1     1     0
EP400 - ROS1    EP400 - ROS1    1       0     1     0     1     0     1
EP400 - SETBP1  EP400 - SETBP1  1       1     1     1     0     1     1
EP400 - STAT2   EP400 - STAT2   1       1     0     1     1     0     1
AMER1 - NOTCH4  AMER1 - NOTCH4  1       0     0     0     1     0     0
FBXW7 - NOTCH4  FBXW7 - NOTCH4  1       1     1     0     1     1     1
GAB1 - NOTCH4   GAB1 - NOTCH4   1       1     0     0     1     0     1
IKZF1 - NOTCH4  IKZF1 - NOTCH4  1       0     0     0     1     0     1
JAK3 - NOTCH4   JAK3 - NOTCH4   1       1     1     1     1     0     1
KMT2D - NOTCH4  KMT2D - NOTCH4  1       1     0     1     0     1     1
NOTCH4 - NTRK3  NOTCH4 - NTRK3  1       0     1     0     1     0     1
NOTCH4 - PLCG2  NOTCH4 - PLCG2  1       0     1     1     1     1     1
NOTCH4 - RET    NOTCH4 - RET    1       1     1     0     1     0     0
NOTCH4 - ROS1   NOTCH4 - ROS1   1       0     0     1     1     1     0
NOTCH4 - TBX3   NOTCH4 - TBX3   1       1     0     1     0     0     0
NOTCH4 - TSC1   NOTCH4 - TSC1   1       0     0     0     0     0     0
NOTCH4 - USP8   NOTCH4 - USP8   1       1     0     0     0     0     1
MED12 - MGA     MED12 - MGA     1       1     0     1     0     0     1
MGA - NF1       MGA - NF1       1       0     0     0     0     1     0
MGA - PLCG2     MGA - PLCG2     1       0     0     1     1     1     1
MGA - PTPRT     MGA - PTPRT     1       1     0     1     0     1     0
MGA - RELN      MGA - RELN      1       0     0     1     0     1     1
MGA - STAG2     MGA - STAG2     1       0     0     1     1     1     1
ABL1 - ZFHX3    ABL1 - ZFHX3    1       1     0     0     0     1     0
ASXL1 - ZFHX3   ASXL1 - ZFHX3   1       0     0     0     0     1     1
⋮               ⋮               ⋮       ⋮     ⋮     ⋮     ⋮     ⋮     ⋮
BRCA2 - SMARCA2 BRCA2 - SMARCA2 1       0     0     1     1     0     0
BRAF - INPP4B   BRAF - INPP4B   1       1     1     1     0     0     1
BRAF - IRF8     BRAF - IRF8     1       0     0     0     0     0     0
BRAF - PDGFRA   BRAF - PDGFRA   1       0     1     1     1     1     0
BRAF - PTPRD    BRAF - PTPRD    1       1     1     1     1     1     1
BRAF - PTPRT    BRAF - PTPRT    1       1     1     1     0     1     1
BRAF - TP63     BRAF - TP63     1       0     0     0     1     0     0
ARHGAP35 - ATM  ARHGAP35 - ATM  1       1     1     0     0     1     0
ATM - DICER1    ATM - DICER1    1       0     0     0     0     0     0
ATM - FANCD2    ATM - FANCD2    1       0     0     0     0     0     0
ATM - INPP4B    ATM - INPP4B    1       1     0     1     0     0     1
ATM - IRF8      ATM - IRF8      1       0     0     0     0     0     0
ATM - PTPRT     ATM - PTPRT     1       1     1     0     0     1     0
ATM - ROBO1     ATM - ROBO1     1       0     0     0     0     0     0
APC - ASXL1     APC - ASXL1     1       0     1     0     0     1     1
APC - BCL11B    APC - BCL11B    1       0     0     0     0     0     0
APC - DICER1    APC - DICER1    1       0     0     1     0     0     0
APC - GRIN2A    APC - GRIN2A    1       1     0     0     1     0     0
APC - INPP4B    APC - INPP4B    1       1     1     1     0     0     1
APC - PDGFRB    APC - PDGFRB    1       1     0     0     1     0     1
APC - PTPN11    APC - PTPN11    1       1     0     1     1     1     0
APC - PTPRT     APC - PTPRT     1       1     1     1     0     1     1
ALK - ASXL1     ALK - ASXL1     1       0     0     0     0     0     1
ALK - CREBBP    ALK - CREBBP    1       0     0     1     1     1     0
ALK - CSF1R     ALK - CSF1R     1       0     1     0     1     0     1
ALK - EPHA7     ALK - EPHA7     1       1     1     0     1     0     1
ALK - EPHB1     ALK - EPHB1     1       0     1     1     0     0     1
ALK - ERBB4     ALK - ERBB4     1       1     1     1     0     1     1
ALK - ROS1      ALK - ROS1      1       1     1     1     0     1     1
ALK - SETBP1    ALK - SETBP1    1       1     1     1     0     1     1
                Run_7 Run_8 Run_9 Run_10 Total_count Total
AMER1 - EP400   0     0     1     1      4           0.4
DICER1 - EP400  1     0     0     0      3           0.3
EP400 - PDGFRA  1     1     0     0      7           0.7
EP400 - PLCG2   1     0     1     1      4           0.4
EP400 - PTPRD   1     0     1     1      9           0.9
EP400 - PTPRT   0     0     0     0      5           0.5
EP400 - ROS1    0     1     0     0      4           0.4
EP400 - SETBP1  1     1     1     1      9           0.9
EP400 - STAT2   1     0     1     1      7           0.7
AMER1 - NOTCH4  1     1     0     0      3           0.3
FBXW7 - NOTCH4  1     1     1     1      9           0.9
GAB1 - NOTCH4   1     1     0     0      5           0.5
IKZF1 - NOTCH4  0     0     0     0      2           0.2
JAK3 - NOTCH4   1     0     0     0      6           0.6
KMT2D - NOTCH4  0     1     1     1      7           0.7
NOTCH4 - NTRK3  0     0     0     0      3           0.3
NOTCH4 - PLCG2  1     1     1     1      9           0.9
NOTCH4 - RET    0     0     1     1      5           0.5
NOTCH4 - ROS1   0     1     1     1      6           0.6
NOTCH4 - TBX3   0     0     0     0      2           0.2
NOTCH4 - TSC1   1     1     1     1      4           0.4
NOTCH4 - USP8   1     0     0     0      3           0.3
MED12 - MGA     1     1     1     1      7           0.7
MGA - NF1       0     1     0     0      2           0.2
MGA - PLCG2     1     1     1     1      8           0.8
MGA - PTPRT     0     1     1     1      6           0.6
MGA - RELN      0     0     1     1      5           0.5
MGA - STAG2     1     1     1     1      8           0.8
ABL1 - ZFHX3    0     1     0     0      3           0.3
ASXL1 - ZFHX3   0     0     0     0      2           0.2
⋮               ⋮     ⋮     ⋮     ⋮      ⋮           ⋮
BRCA2 - SMARCA2 1     1     1     1       6          0.6
BRAF - INPP4B   1     1     0     0       6          0.6
BRAF - IRF8     0     0     0     0       0          0.0
BRAF - PDGFRA   0     0     1     1       6          0.6
BRAF - PTPRD    1     1     1     1      10          1.0
BRAF - PTPRT    1     1     1     1       9          0.9
BRAF - TP63     0     0     0     0       1          0.1
ARHGAP35 - ATM  0     0     0     0       3          0.3
ATM - DICER1    0     0     0     0       0          0.0
ATM - FANCD2    0     1     0     0       1          0.1
ATM - INPP4B    0     0     0     0       3          0.3
ATM - IRF8      0     0     0     0       0          0.0
ATM - PTPRT     0     1     0     0       4          0.4
ATM - ROBO1     0     0     1     1       2          0.2
APC - ASXL1     0     1     0     0       4          0.4
APC - BCL11B    0     0     0     0       0          0.0
APC - DICER1    1     0     1     1       4          0.4
APC - GRIN2A    0     1     0     0       3          0.3
APC - INPP4B    1     1     0     0       6          0.6
APC - PDGFRB    0     0     0     0       3          0.3
APC - PTPN11    0     0     0     0       4          0.4
APC - PTPRT     1     1     1     1       9          0.9
ALK - ASXL1     0     0     0     0       1          0.1
ALK - CREBBP    0     1     0     0       4          0.4
ALK - CSF1R     1     0     1     1       6          0.6
ALK - EPHA7     1     0     0     0       5          0.5
ALK - EPHB1     0     0     1     1       5          0.5
ALK - ERBB4     1     1     1     1       9          0.9
ALK - ROS1      0     1     1     1       8          0.8
ALK - SETBP1    1     1     1     1       9          0.9

In [106]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/442
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [107]:
score_df_v8<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v8$Recovery <-as.factor(score_df_v7$Recovery)

In [108]:
score_df_v8

   Recovery n   pct
1  1        399 90.271493
2  2        351 79.411765
3  3        301 68.099548
4  4        243 54.977376
5  5        186 42.081448
6  6        140 31.674208
7  7         95 21.493213
8  8         71 16.063348
9  9         49 11.085973
10 10        14  3.167421

## Cooccur

In [109]:
select_orginal <- readRDS('/mnt/ptemp/arvind/tool_comaprision/results/cooccur/cooccur_luad_all_results.rds')

In [110]:
head(select_orginal)

  sp1 sp2 sp1_inc sp2_inc obs_cooccur prob_cooccur exp_cooccur p_lt    p_gt
1 1   63   3      221     2           0.003        1.3         0.91533 0.41061
2 2   35   6      154     3           0.004        1.8         0.92524 0.26745
3 2   63   6      221     5           0.005        2.6         0.99299 0.06169
4 3   17  10       57     2           0.002        1.1         0.90658 0.31669
5 3   35  10      154     1           0.006        3.1         0.13645 0.97538
6 3   62  10       59     1           0.002        1.2         0.66766 0.71703
  sp1_name sp2_name
1 AKT1     TP53
2 ALK      KRAS
3 ALK      TP53
4 APC      EGFR
5 APC      KRAS
6 APC      STK11

In [111]:
boot_results <- list()
k=1
for (i in c(1:10)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/cooccur/luad_sampling/sampling_run_result_80_',i,'.rds',sep="")
    boot_results[[k]] <- readRDS(file=name)
    k=k+1
}

In [112]:
length(boot_results)

[1] 10

In [113]:
head(boot_results[[1]])

  sp1 sp2 sp1_inc sp2_inc obs_cooccur prob_cooccur exp_cooccur p_lt    p_gt
1 1   63   3      180     2           0.003        1.3         0.91039 0.42339
2 2   63   3      180     3           0.003        1.3         1.00000 0.08961
3 3   35   8      122     0           0.006        2.4         0.05324 1.00000
4 3   63   8      180     3           0.009        3.6         0.47916 0.78042
5 5    7  15       28     1           0.003        1.0         0.71805 0.66909
6 5   17  15       50     1           0.005        1.9         0.42112 0.86944
  sp1_name sp2_name
1 AKT1     TP53
2 ALK      TP53
3 APC      KRAS
4 APC      TP53
5 ATM      BRAF
6 ATM      EGFR

In [114]:
selectX_100_pct_significnat_results <- select_orginal %>% filter(p_lt<=0.05 | p_gt<=0.05) %>% mutate('id'=case_when(sp1_name>sp2_name ~ paste(sp2_name,sp1_name,sep=" - "),
                                       sp1_name<sp2_name ~ paste(sp1_name,sp2_name,sep=" - ")))

In [115]:
selectX_100_pct_significnat_results <- selectX_100_pct_significnat_results[!duplicated(selectX_100_pct_significnat_results$id),]

In [116]:
dim(selectX_100_pct_significnat_results)

[1] 31 12

In [117]:
selectX_100_pct_significnat_results %>% count()

  n
1 31

In [118]:
score_df<-data.frame('pairs'=selectX_100_pct_significnat_results$id)
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [119]:
head(score_df)

              pairs         Run_100
ATM - KRAS    ATM - KRAS    1
ATM - STK11   ATM - STK11   1
ATM - TP53    ATM - TP53    1
BRAF - KRAS   BRAF - KRAS   1
BRAF - SETD2  BRAF - SETD2  1
CDKN2A - TP53 CDKN2A - TP53 1

In [120]:
dim(score_df)

[1] 31  2

In [121]:
for (i in c(1:10)){
    score_df[[paste('Run',i,sep="_")]]<-0
    test<- boot_results[[i]]  %>% filter(p_lt<=0.05 | p_gt<=0.05) %>% mutate('id'=case_when(sp1_name>sp2_name ~ paste(sp2_name,sp1_name,sep=" - "),
                                       sp1_name<sp2_name ~ paste(sp1_name,sp2_name,sep=" - ")))  
    test<- test[!duplicated(test$id),]
    temp <- unique(test$id)
    pairs <- intersect(score_df$pairs,temp)
    score_df[pairs,][[paste('Run',i,sep="_")]]<-1
}

In [122]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5+score_df$Run_6+score_df$Run_7+score_df$Run_8+score_df$Run_9+score_df$Run_10)/10

In [123]:
score_df

               pairs          Run_100 Run_1 Run_2 Run_3 Run_4 Run_5 Run_6 Run_7
ATM - KRAS     ATM - KRAS     1       0     0     1     1     1     1     1
ATM - STK11    ATM - STK11    1       0     1     1     0     1     1     1
ATM - TP53     ATM - TP53     1       0     1     1     1     1     0     0
BRAF - KRAS    BRAF - KRAS    1       1     1     1     1     1     1     1
BRAF - SETD2   BRAF - SETD2   1       0     0     0     1     1     1     0
CDKN2A - TP53  CDKN2A - TP53  1       1     1     0     1     0     1     1
CTNNB1 - TP53  CTNNB1 - TP53  1       1     1     1     0     1     1     0
EGFR - KRAS    EGFR - KRAS    1       1     1     1     1     1     1     1
EGFR - STK11   EGFR - STK11   1       1     1     1     1     1     1     1
EGFR - TP53    EGFR - TP53    1       0     1     0     0     0     1     1
EGFR - KEAP1   EGFR - KEAP1   1       1     1     1     1     0     1     1
FBXW7 - KRAS   FBXW7 - KRAS   1       1     1     0     1     1     1     0
KRAS - MET     KRAS - MET     1       1     1     0     1     1     1     0
KRAS - NF1     KRAS - NF1     1       1     1     1     1     1     1     1
KRAS - RB1     KRAS - RB1     1       0     0     0     0     1     0     0
KRAS - SMAD4   KRAS - SMAD4   1       0     0     0     0     0     0     1
KRAS - SMARCA4 KRAS - SMARCA4 1       0     1     1     1     1     1     1
KRAS - STK11   KRAS - STK11   1       1     1     1     1     1     1     1
KRAS - TP53    KRAS - TP53    1       1     1     1     1     1     1     1
KRAS - RBM10   KRAS - RBM10   1       0     1     1     1     1     1     1
ATRX - KRAS    ATRX - KRAS    1       0     1     0     1     0     0     0
MED12 - TP53   MED12 - TP53   1       1     1     1     1     1     1     1
MET - TP53     MET - TP53     1       1     1     0     1     1     1     1
NF1 - TP53     NF1 - TP53     1       1     1     1     1     1     1     1
NOTCH1 - TP53  NOTCH1 - TP53  1       0     0     0     1     0     1     0
RB1 - TP53     RB1 - TP53     1       1     1     1     1     1     1     1
SETD2 - TP53   SETD2 - TP53   1       0     0     0     0     0     1     0
STK11 - TP53   STK11 - TP53   1       1     1     1     1     1     1     1
KEAP1 - STK11  KEAP1 - STK11  1       1     1     1     0     1     1     1
B2M - TP53     B2M - TP53     1       0     1     1     0     0     0     0
RBM10 - TP53   RBM10 - TP53   1       0     1     0     0     1     0     1
               Run_8 Run_9 Run_10 Total_count Total
ATM - KRAS     1     1     1       8          0.8
ATM - STK11    1     1     1       8          0.8
ATM - TP53     1     1     1       7          0.7
BRAF - KRAS    1     1     1      10          1.0
BRAF - SETD2   1     0     1       5          0.5
CDKN2A - TP53  0     1     0       6          0.6
CTNNB1 - TP53  0     1     0       6          0.6
EGFR - KRAS    1     1     1      10          1.0
EGFR - STK11   1     1     1      10          1.0
EGFR - TP53    0     1     0       4          0.4
EGFR - KEAP1   1     1     1       9          0.9
FBXW7 - KRAS   0     0     1       6          0.6
KRAS - MET     1     1     0       7          0.7
KRAS - NF1     0     1     1       9          0.9
KRAS - RB1     1     1     1       4          0.4
KRAS - SMAD4   0     0     0       1          0.1
KRAS - SMARCA4 1     1     1       9          0.9
KRAS - STK11   1     1     1      10          1.0
KRAS - TP53    1     1     1      10          1.0
KRAS - RBM10   1     1     1       9          0.9
ATRX - KRAS    1     1     1       5          0.5
MED12 - TP53   1     1     1      10          1.0
MET - TP53     1     1     0       8          0.8
NF1 - TP53     1     1     1      10          1.0
NOTCH1 - TP53  0     1     0       3          0.3
RB1 - TP53     0     1     1       9          0.9
SETD2 - TP53   1     0     0       2          0.2
STK11 - TP53   1     1     1      10          1.0
KEAP1 - STK11  1     1     1       9          0.9
B2M - TP53     0     1     1       4          0.4
RBM10 - TP53   1     1     0       5          0.5

In [124]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:10)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)*100/31
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:12)])>=i)
}

In [125]:
score_df_v10<-data.frame('Recovery'=c(1:10),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v10$Recovery <-as.factor(score_df_v10$Recovery)

In [126]:
score_df_v10

   Recovery n  pct
1  1        31 100.00000
2  2        30  96.77419
3  3        29  93.54839
4  4        28  90.32258
5  5        25  80.64516
6  6        22  70.96774
7  7        19  61.29032
8  8        17  54.83871
9  9        14  45.16129
10 10        8  25.80645

## Combine plots for sampling analysis

In [185]:
head(score_df_v3)

  Recovery n  pct
1 1        56 98.24561
2 2        54 94.73684
3 3        52 91.22807
4 4        50 87.71930
5 5        46 80.70175
6 6        42 73.68421

In [186]:
head(score_df_v4)

  Recovery n  pct
1 1        17 85
2 2        11 55
3 3        10 50
4 4         9 45
5 5         8 40
6 6         7 35

In [187]:
head(score_df_v5)

  Recovery n  pct
1 1        20 95.23810
2 2        20 95.23810
3 3        17 80.95238
4 4        17 80.95238
5 5        14 66.66667
6 6        14 66.66667

In [188]:
head(score_df_v6)

  Recovery n  pct
1 1        37 97.36842
2 2        34 89.47368
3 3        34 89.47368
4 4        28 73.68421
5 5        27 71.05263
6 6        25 65.78947

In [189]:
head(score_df_v7)

  Recovery n   pct
1 1        824 99.63724
2 2        821 99.27449
3 3        817 98.79081
4 4        798 96.49335
5 5        775 93.71221
6 6        713 86.21524

In [127]:
score_df_v8

   Recovery n   pct
1  1        399 90.271493
2  2        351 79.411765
3  3        301 68.099548
4  4        243 54.977376
5  5        186 42.081448
6  6        140 31.674208
7  7         95 21.493213
8  8         71 16.063348
9  9         49 11.085973
10 10        14  3.167421

In [129]:
plot_data<-rbind(
                 score_df_v3,
                 score_df_v4,
                 score_df_v5,
                 score_df_v6,
                 score_df_v7,
                 score_df_v8,
                 score_df_v10)

In [130]:
dim(plot_data)

[1] 70  3

In [131]:
head(plot_data)

  Recovery n  pct
1 1        56 98.24561
2 2        54 94.73684
3 3        52 91.22807
4 4        50 87.71930
5 5        46 80.70175
6 6        42 73.68421

In [132]:
plot_data$name<-c(
                  rep('selectX',10),
                  rep('select',10),
                  rep('GamTOC',10),
                  rep('Discover',10),
                  rep('weSME/weSCO',10),
                  rep('Coselns',10),
                  rep('cooccur',10))

In [133]:
head(plot_data)

  Recovery n  pct      name
1 1        56 98.24561 selectX
2 2        54 94.73684 selectX
3 3        52 91.22807 selectX
4 4        50 87.71930 selectX
5 5        46 80.70175 selectX
6 6        42 73.68421 selectX

In [134]:
plot_data$name <- factor(plot_data$name)

In [135]:
dim(plot_data)

[1] 70  4

In [ ]:
saveRDS(plot_data, file='luad_recovery_plot_data.rds')

# Pan-Cancer

## SelectSim

In [3]:
select_orginal <- readRDS('/mnt/ptemp/arvind/catalogue_work_update/data/results/pan_can/pan_can_tcga_run_result.rds')

In [4]:
boot_results <- list()
k=1
for (i in c(31:35)){
    name <- paste('/mnt/ptemp/arvind/robustness_analysis/TCGA robustness analysis/output_v4/sampling_run_results_',i,'.rds',sep="")
    boot_results[[k]] <- (readRDS(file=name))$result
    k=k+1
}

In [5]:
head(boot_results[[1]])

              SFE_1  SFE_2  name          support_1 support_2 freq_1
PIK3CA - TP53 PIK3CA TP53   PIK3CA - TP53  899      2443      0.12372695
BRAF - TP53   BRAF   TP53   BRAF - TP53    467      2443      0.06427195
KRAS - TP53   KRAS   TP53   KRAS - TP53    555      2443      0.07638315
TP53 - ARID1A TP53   ARID1A TP53 - ARID1A 2443       438      0.33622351
BRAF - NRAS   BRAF   NRAS   BRAF - NRAS    467       190      0.06427195
CTNNB1 - TP53 CTNNB1 TP53   CTNNB1 - TP53  241      2443      0.03316818
              freq_2     overlap w_overlap  max_overlap ⋯ w_r_overlap wES
PIK3CA - TP53 0.33622351 287     255.945882 526         ⋯ 312.75982   -40.17352
BRAF - TP53   0.33622351  63      42.680952 139         ⋯  92.80300   -35.44164
KRAS - TP53   0.33622351 213     198.477002 464         ⋯ 244.89883   -32.82519
TP53 - ARID1A 0.06028076 111      88.565879 285         ⋯ 133.66527   -31.89009
BRAF - NRAS   0.02614919   7       3.801353 148         ⋯  41.73186   -26.82092
CTNNB1 - TP53 0.33622351  39      34.700267 186         ⋯  72.86760   -26.98838
              wFDR         nES       mean_r_nES nFDR         cum_freq
PIK3CA - TP53 0.0000000000 -33.83972 -6.333800  0.0000000000 3342
BRAF - TP53   0.0000000000 -31.35929 -4.082348  0.0000000000 2910
KRAS - TP53   0.0000000000 -27.66273 -5.162455  0.0000000000 2998
TP53 - ARID1A 0.0000000000 -27.28199 -4.608097  0.0000000000 2881
BRAF - NRAS   0.0003178134 -24.31588 -2.505038  0.0000000000  657
CTNNB1 - TP53 0.0003707824 -23.49519 -3.493186  0.0001853912 2684
              nFDR2        type FDR
PIK3CA - TP53 0.0000000000 ME   TRUE
BRAF - TP53   0.0000000000 ME   TRUE
KRAS - TP53   0.0000000000 ME   TRUE
TP53 - ARID1A 0.0000000000 ME   TRUE
BRAF - NRAS   0.0000000000 ME   TRUE
CTNNB1 - TP53 0.0002224694 ME   TRUE

In [6]:
selectX_100_pct_significnat_results <- select_orginal %>% filter(nFDR2<=0.25)

In [7]:
select_orginal %>% filter(nFDR2<=0.25)  %>% count(type)

  type n
1 CO    78
2 ME   144

In [8]:
score_df<-data.frame('pairs'=selectX_100_pct_significnat_results$name)
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [9]:
head(score_df)

              pairs         Run_100
PIK3CA - TP53 PIK3CA - TP53 1
BRAF - TP53   BRAF - TP53   1
TP53 - ARID1A TP53 - ARID1A 1
BRAF - NRAS   BRAF - NRAS   1
CDKN2A - TP53 CDKN2A - TP53 1
PTEN - TP53   PTEN - TP53   1

In [10]:
for (i in c(1:5)){
    score_df[[paste('Run',i,sep="_")]]<-0
    temp <- (boot_results[[i]] %>% filter(name %in% score_df$pairs) %>% filter(nFDR2<=0.25))$name
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [11]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5)/5

In [12]:
score_df

                pairs           Run_100 Run_1 Run_2 Run_3 Run_4 Run_5
PIK3CA - TP53   PIK3CA - TP53   1       1     1     1     1     1
BRAF - TP53     BRAF - TP53     1       1     1     1     1     1
TP53 - ARID1A   TP53 - ARID1A   1       1     1     1     1     1
BRAF - NRAS     BRAF - NRAS     1       1     1     1     1     1
CDKN2A - TP53   CDKN2A - TP53   1       1     1     1     1     1
PTEN - TP53     PTEN - TP53     1       1     1     1     1     1
CTNNB1 - TP53   CTNNB1 - TP53   1       1     1     1     1     1
IDH1 - ATRX     IDH1 - ATRX     1       1     1     1     1     1
PTEN - ARID1A   PTEN - ARID1A   1       1     1     1     1     1
BRAF - KRAS     BRAF - KRAS     1       1     1     1     1     1
ATM - TP53      ATM - TP53      1       1     1     1     1     1
CTNNB1 - PTEN   CTNNB1 - PTEN   1       1     1     1     1     1
PIK3R1 - PTEN   PIK3R1 - PTEN   1       1     1     1     1     1
PIK3CA - PIK3R1 PIK3CA - PIK3R1 1       1     1     1     1     1
CDH1 - TP53     CDH1 - TP53     1       1     1     1     1     1
TP53 - GATA3    TP53 - GATA3    1       1     1     1     1     1
TP53 - KMT2C    TP53 - KMT2C    1       1     1     1     1     1
RB1 - TP53      RB1 - TP53      1       1     1     1     1     1
CDH1 - PIK3CA   CDH1 - PIK3CA   1       1     1     1     0     1
PIK3CA - PTEN   PIK3CA - PTEN   1       1     1     1     1     1
PIK3CA - MAP3K1 PIK3CA - MAP3K1 1       1     1     1     1     1
KRAS - NRAS     KRAS - NRAS     1       1     1     1     1     1
TP53 - ATRX     TP53 - ATRX     1       1     1     1     1     1
PTEN - CTCF     PTEN - CTCF     1       1     1     1     1     1
EGFR - KRAS     EGFR - KRAS     1       1     1     1     1     1
PIK3CA - ARID1A PIK3CA - ARID1A 1       1     1     1     1     1
SETD2 - TP53    SETD2 - TP53    1       1     1     1     1     1
IDH1 - IDH2     IDH1 - IDH2     1       1     1     1     1     1
TP53 - VHL      TP53 - VHL      1       1     1     1     1     1
KMT2D - KMT2C   KMT2D - KMT2C   1       1     1     1     1     1
⋮               ⋮               ⋮       ⋮     ⋮     ⋮     ⋮     ⋮
NPM1 - TET2     NPM1 - TET2     1       0     0     0     0     0
BRAF - ARID1A   BRAF - ARID1A   1       0     0     0     1     0
PIK3R1 - ZFHX3  PIK3R1 - ZFHX3  1       1     1     1     0     0
FGFR3 - RB1     FGFR3 - RB1     1       0     0     0     0     1
RB1 - KMT2C     RB1 - KMT2C     1       1     0     0     0     0
TP53 - ARHGAP35 TP53 - ARHGAP35 1       0     0     1     0     0
PTPN11 - TP53   PTPN11 - TP53   1       0     0     0     0     0
KMT2D - BCORL1  KMT2D - BCORL1  1       1     1     1     0     0
CASP8 - FAT1    CASP8 - FAT1    1       0     0     0     0     0
TP53 - AXIN1    TP53 - AXIN1    1       0     1     1     1     1
CDKN2A - NOTCH1 CDKN2A - NOTCH1 1       0     0     0     1     0
IDH1 - KMT2C    IDH1 - KMT2C    1       0     0     0     0     0
EGFR - KEAP1    EGFR - KEAP1    1       0     0     0     0     0
CASP8 - HLA-A   CASP8 - HLA-A   1       0     0     1     0     1
PIK3CA - GPS2   PIK3CA - GPS2   1       0     0     0     0     0
KDM5C - TP53    KDM5C - TP53    1       0     0     0     0     0
EGFR - NF1      EGFR - NF1      1       1     1     0     0     0
HRAS - CASP8    HRAS - CASP8    1       0     1     1     0     1
KRAS - FAT1     KRAS - FAT1     1       0     0     0     0     0
TP53 - ERBB3    TP53 - ERBB3    1       1     0     1     1     1
TP53 - CDKN1B   TP53 - CDKN1B   1       0     0     0     0     0
TP53 - TP53BP1  TP53 - TP53BP1  1       0     0     0     0     1
IDH2 - TET2     IDH2 - TET2     1       0     0     0     0     0
PIK3CA - CCND1  PIK3CA - CCND1  1       0     0     1     0     0
TP53 - TLE1     TP53 - TLE1     1       0     0     0     0     0
HRAS - NRAS     HRAS - NRAS     1       0     0     0     0     1
TP53 - ARAF     TP53 - ARAF     1       0     0     0     0     0
TP53 - AJUBA    TP53 - AJUBA    1       1     0     0     0     1
CASP8 - NSD1    CASP8 - NSD1    1       0     0     1     0     0
CCND1 - KMT2B   CCND1 - KMT2B   1       0     0     0     1     0
                Total_count Total
PIK3CA - TP53   5           1.0
BRAF - TP53     5           1.0
TP53 - ARID1A   5           1.0
BRAF - NRAS     5           1.0
CDKN2A - TP53   5           1.0
PTEN - TP53     5           1.0
CTNNB1 - TP53   5           1.0
IDH1 - ATRX     5           1.0
PTEN - ARID1A   5           1.0
BRAF - KRAS     5           1.0
ATM - TP53      5           1.0
CTNNB1 - PTEN   5           1.0
PIK3R1 - PTEN   5           1.0
PIK3CA - PIK3R1 5           1.0
CDH1 - TP53     5           1.0
TP53 - GATA3    5           1.0
TP53 - KMT2C    5           1.0
RB1 - TP53      5           1.0
CDH1 - PIK3CA   4           0.8
PIK3CA - PTEN   5           1.0
PIK3CA - MAP3K1 5           1.0
KRAS - NRAS     5           1.0
TP53 - ATRX     5           1.0
PTEN - CTCF     5           1.0
EGFR - KRAS     5           1.0
PIK3CA - ARID1A 5           1.0
SETD2 - TP53    5           1.0
IDH1 - IDH2     5           1.0
TP53 - VHL      5           1.0
KMT2D - KMT2C   5           1.0
⋮               ⋮           ⋮
NPM1 - TET2     0           0.0
BRAF - ARID1A   1           0.2
PIK3R1 - ZFHX3  3           0.6
FGFR3 - RB1     1           0.2
RB1 - KMT2C     1           0.2
TP53 - ARHGAP35 1           0.2
PTPN11 - TP53   0           0.0
KMT2D - BCORL1  3           0.6
CASP8 - FAT1    0           0.0
TP53 - AXIN1    4           0.8
CDKN2A - NOTCH1 1           0.2
IDH1 - KMT2C    0           0.0
EGFR - KEAP1    0           0.0
CASP8 - HLA-A   2           0.4
PIK3CA - GPS2   0           0.0
KDM5C - TP53    0           0.0
EGFR - NF1      2           0.4
HRAS - CASP8    3           0.6
KRAS - FAT1     0           0.0
TP53 - ERBB3    4           0.8
TP53 - CDKN1B   0           0.0
TP53 - TP53BP1  1           0.2
IDH2 - TET2     0           0.0
PIK3CA - CCND1  1           0.2
TP53 - TLE1     0           0.0
HRAS - NRAS     1           0.2
TP53 - ARAF     0           0.0
TP53 - AJUBA    2           0.4
CASP8 - NSD1    1           0.2
CCND1 - KMT2B   1           0.2

In [13]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:5)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:7)])>=i)*100/222
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:7)])>=i)
}

In [14]:
score_df_v3<-data.frame('Recovery'=c(1:5),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v3$Recovery <-as.factor(score_df_v3$Recovery)

In [15]:
score_df_v3

  Recovery n   pct
1 1        195 87.83784
2 2        171 77.02703
3 3        158 71.17117
4 4        141 63.51351
5 5        112 50.45045

In [16]:
score_df %>% count(Total) %>% mutate(pct=(n*100/222))

  Total n   pct
1 0.0    27 12.162162
2 0.2    24 10.810811
3 0.4    13  5.855856
4 0.6    17  7.657658
5 0.8    29 13.063063
6 1.0   112 50.450450

## Select

In [17]:
select_orginal <- readRDS('/mnt/ptemp/arvind/tool_comaprision/results/select/tcga_select_all_results.rds')

In [18]:
boot_results <- list()
k=1
for (i in c(1:5)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/select/sampling_run_tcga_result_80_',i,'.rds',sep="")
    boot_results[[k]] <- readRDS(file=name)
    k=k+1
}

In [19]:
length(boot_results)

[1] 5

In [20]:
head(boot_results[[1]])

            SFE_1 SFE_2 name        type_1 type_2 int_type  support_1 support_2
AKT1 - ALK  AKT1  ALK   AKT1 - ALK  MUT    MUT    MUT - MUT 57         29
AKT1 - APC  AKT1  APC   AKT1 - APC  MUT    MUT    MUT - MUT 57        370
AKT1 - AR   AKT1  AR    AKT1 - AR   MUT    MUT    MUT - MUT 57         21
AKT1 - ATM  AKT1  ATM   AKT1 - ATM  MUT    MUT    MUT - MUT 57        181
AKT1 - BAP1 AKT1  BAP1  AKT1 - BAP1 MUT    MUT    MUT - MUT 57         86
AKT1 - BRAF AKT1  BRAF  AKT1 - BRAF MUT    MUT    MUT - MUT 57        467
            freq_1      freq_2      ⋯ abs_diff_overlap direction wMI_stat
AKT1 - ALK  0.009463722 0.004814876 ⋯ 0.340            CO        2.365631e-04
AKT1 - APC  0.009463722 0.061431180 ⋯ 0.910            ME        1.017148e-02
AKT1 - AR   0.009463722 0.003486635 ⋯ 0.576            CO        3.728933e-05
AKT1 - ATM  0.009463722 0.030051469 ⋯ 0.729            CO        8.141605e-04
AKT1 - BAP1 0.009463722 0.014278599 ⋯ 0.484            ME        5.076404e-03
AKT1 - BRAF 0.009463722 0.077536112 ⋯ 4.881            CO        1.129453e-03
            wMI_p.value ME_p.value E.r.wMI_stat MI_diff      wMI_p.value_FDR
AKT1 - ALK  0.893       0.490      0.002503087  -0.002266524 FALSE
AKT1 - APC  0.401       0.401      0.010171477   0.000000000 FALSE
AKT1 - AR   1.000       0.352      0.001904909  -0.001867620 FALSE
AKT1 - ATM  0.786       0.414      0.002666180  -0.001852019 FALSE
AKT1 - BAP1 0.602       0.602      0.005076404   0.000000000 FALSE
AKT1 - BRAF 1.000       0.003      0.006048236  -0.004918783 FALSE
            select_score_good_cancer_cell_2017_criterion_1 select_score
AKT1 - ALK  FALSE                                                    NA
AKT1 - APC  FALSE                                                    NA
AKT1 - AR   FALSE                                                    NA
AKT1 - ATM  FALSE                                                    NA
AKT1 - BAP1 FALSE                                                    NA
AKT1 - BRAF FALSE                                          0.0003347614

In [21]:
selectX_100_pct_significnat_results <- select_orginal %>% filter(wMI_p.value_FDR)

In [22]:
select_orginal %>% filter(wMI_p.value_FDR)  %>% count(direction)

  direction n
1 CO        117
2 ME         79

In [23]:
score_df<-data.frame('pairs'=selectX_100_pct_significnat_results$name)
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [24]:
head(score_df)

              pairs         Run_100
AKT1 - PIK3CA AKT1 - PIK3CA 1
AKT1 - PIK3R1 AKT1 - PIK3R1 1
AKT1 - PTEN   AKT1 - PTEN   1
AKT1 - MAP3K1 AKT1 - MAP3K1 1
AKT1 - GAB1   AKT1 - GAB1   1
APC - BRAF    APC - BRAF    1

In [25]:
for (i in c(1:5)){
    score_df[[paste('Run',i,sep="_")]]<-0
    temp <- (boot_results[[i]] %>% filter(name %in% score_df$pairs) %>% filter(wMI_p.value_FDR))$name
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [26]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5)/5

In [27]:
score_df

                pairs           Run_100 Run_1 Run_2 Run_3 Run_4 Run_5
AKT1 - PIK3CA   AKT1 - PIK3CA   1       0     1     0     0     0
AKT1 - PIK3R1   AKT1 - PIK3R1   1       0     0     0     0     0
AKT1 - PTEN     AKT1 - PTEN     1       1     1     1     1     1
AKT1 - MAP3K1   AKT1 - MAP3K1   1       0     0     0     0     0
AKT1 - GAB1     AKT1 - GAB1     1       0     0     0     0     1
APC - BRAF      APC - BRAF      1       1     1     1     0     1
APC - CTNNB1    APC - CTNNB1    1       0     0     0     0     0
APC - RNF43     APC - RNF43     1       0     0     1     1     1
AR - ERBB4      AR - ERBB4      1       1     0     0     0     0
AR - ATXN7      AR - ATXN7      1       0     1     1     0     0
AR - PTCH1      AR - PTCH1      1       0     0     0     0     0
ATM - CTNNB1    ATM - CTNNB1    1       0     0     0     0     0
ATM - TP53      ATM - TP53      1       1     1     1     1     1
BRAF - IDH1     BRAF - IDH1     1       1     1     1     1     1
BRAF - KRAS     BRAF - KRAS     1       1     1     1     1     1
BRAF - NF1      BRAF - NF1      1       0     0     0     0     1
BRAF - NRAS     BRAF - NRAS     1       1     1     1     1     1
BRCA2 - TSC1    BRCA2 - TSC1    1       0     0     0     0     1
CDH1 - PIK3R1   CDH1 - PIK3R1   1       0     0     0     0     0
CDH1 - MAP2K4   CDH1 - MAP2K4   1       0     0     0     0     0
CDKN2A - RB1    CDKN2A - RB1    1       1     1     0     1     1
CDKN2A - TP53   CDKN2A - TP53   1       0     0     0     1     0
CREBBP - POLE   CREBBP - POLE   1       0     0     0     0     0
CTNNB1 - KRAS   CTNNB1 - KRAS   1       0     1     0     0     0
CTNNB1 - TP53   CTNNB1 - TP53   1       1     1     1     1     1
CTNNB1 - AXIN1  CTNNB1 - AXIN1  1       1     1     1     1     1
CTNNB1 - BCORL1 CTNNB1 - BCORL1 1       0     0     0     0     0
DNMT3A - NPM1   DNMT3A - NPM1   1       1     0     1     0     1
EGFR - KRAS     EGFR - KRAS     1       1     1     1     1     1
EGFR - PIK3R1   EGFR - PIK3R1   1       0     0     0     1     0
⋮               ⋮               ⋮       ⋮     ⋮     ⋮     ⋮     ⋮
GNAS - ERF      GNAS - ERF      1       0     1     1     0     0
GNAS - AJUBA    GNAS - AJUBA    1       0     1     1     0     1
KMT2D - KMT2C   KMT2D - KMT2C   1       1     1     1     1     1
KMT2D - TLE1    KMT2D - TLE1    1       0     0     0     0     0
KMT2D - KDM6A   KMT2D - KDM6A   1       0     1     0     0     0
KMT2D - KMT2B   KMT2D - KMT2B   1       0     0     0     1     0
GATA2 - PAX5    GATA2 - PAX5    1       0     0     0     1     0
KMT2C - JARID2  KMT2C - JARID2  1       1     0     1     0     1
MITF - CBFB     MITF - CBFB     1       0     0     0     0     0
FH - FAS        FH - FAS        1       0     0     0     0     0
RAD51B - FAS    RAD51B - FAS    1       0     0     0     0     0
FANCD2 - RELN   FANCD2 - RELN   1       0     0     0     0     0
FANCD2 - PTPRS  FANCD2 - PTPRS  1       0     0     0     0     0
DCUN1D1 - PTPRS DCUN1D1 - PTPRS 1       0     0     0     1     1
RTEL1 - ARID4A  RTEL1 - ARID4A  1       0     0     0     0     0
SHOC2 - TLE4    SHOC2 - TLE4    1       0     0     0     0     0
ROBO1 - CYLD    ROBO1 - CYLD    1       0     0     0     0     0
ROBO1 - CD58    ROBO1 - CD58    1       1     1     0     1     1
SPRTN - INPP4B  SPRTN - INPP4B  1       1     1     0     1     1
ZNRF3 - HLA-C   ZNRF3 - HLA-C   1       0     0     0     0     0
DKK1 - EP400    DKK1 - EP400    1       0     0     0     0     0
AMER1 - DNMT3B  AMER1 - DNMT3B  1       0     0     0     0     0
PAX5 - SPEN     PAX5 - SPEN     1       0     0     0     0     0
TNFAIP3 - CUX1  TNFAIP3 - CUX1  1       0     1     0     1     1
KMT2A - CUX1    KMT2A - CUX1    1       0     0     0     0     0
KMT2A - ARID4A  KMT2A - ARID4A  1       0     0     0     0     0
EPHA7 - JARID2  EPHA7 - JARID2  1       0     0     0     0     0
MAX - DNMT3B    MAX - DNMT3B    1       0     0     0     0     0
DNMT3B - ARID4A DNMT3B - ARID4A 1       0     0     0     0     0
PTPRS - ARID4A  PTPRS - ARID4A  1       0     0     1     0     0
                Total_count Total
AKT1 - PIK3CA   1           0.2
AKT1 - PIK3R1   0           0.0
AKT1 - PTEN     5           1.0
AKT1 - MAP3K1   0           0.0
AKT1 - GAB1     1           0.2
APC - BRAF      4           0.8
APC - CTNNB1    0           0.0
APC - RNF43     3           0.6
AR - ERBB4      1           0.2
AR - ATXN7      2           0.4
AR - PTCH1      0           0.0
ATM - CTNNB1    0           0.0
ATM - TP53      5           1.0
BRAF - IDH1     5           1.0
BRAF - KRAS     5           1.0
BRAF - NF1      1           0.2
BRAF - NRAS     5           1.0
BRCA2 - TSC1    1           0.2
CDH1 - PIK3R1   0           0.0
CDH1 - MAP2K4   0           0.0
CDKN2A - RB1    4           0.8
CDKN2A - TP53   1           0.2
CREBBP - POLE   0           0.0
CTNNB1 - KRAS   1           0.2
CTNNB1 - TP53   5           1.0
CTNNB1 - AXIN1  5           1.0
CTNNB1 - BCORL1 0           0.0
DNMT3A - NPM1   3           0.6
EGFR - KRAS     5           1.0
EGFR - PIK3R1   1           0.2
⋮               ⋮           ⋮
GNAS - ERF      2           0.4
GNAS - AJUBA    3           0.6
KMT2D - KMT2C   5           1.0
KMT2D - TLE1    0           0.0
KMT2D - KDM6A   1           0.2
KMT2D - KMT2B   1           0.2
GATA2 - PAX5    1           0.2
KMT2C - JARID2  3           0.6
MITF - CBFB     0           0.0
FH - FAS        0           0.0
RAD51B - FAS    0           0.0
FANCD2 - RELN   0           0.0
FANCD2 - PTPRS  0           0.0
DCUN1D1 - PTPRS 2           0.4
RTEL1 - ARID4A  0           0.0
SHOC2 - TLE4    0           0.0
ROBO1 - CYLD    0           0.0
ROBO1 - CD58    4           0.8
SPRTN - INPP4B  4           0.8
ZNRF3 - HLA-C   0           0.0
DKK1 - EP400    0           0.0
AMER1 - DNMT3B  0           0.0
PAX5 - SPEN     0           0.0
TNFAIP3 - CUX1  3           0.6
KMT2A - CUX1    0           0.0
KMT2A - ARID4A  0           0.0
EPHA7 - JARID2  0           0.0
MAX - DNMT3B    0           0.0
DNMT3B - ARID4A 0           0.0
PTPRS - ARID4A  1           0.2

In [28]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:5)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:7)])>=i)*100/196
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:7)])>=i)
}

In [29]:
score_df_v4<-data.frame('Recovery'=c(1:5),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v4$Recovery <-as.factor(score_df_v4$Recovery)

In [30]:
score_df_v4

  Recovery n   pct
1 1        101 51.53061
2 2         73 37.24490
3 3         54 27.55102
4 4         39 19.89796
5 5         28 14.28571

## Discover

In [31]:
select_orginal <- readRDS('/mnt/ptemp/arvind/tool_comaprision/results/Discover/tcga_all.rds')

In [32]:
boot_results <- list()
k=1
for (i in c(1:5)){
    name <- paste('/mnt/ptemp/arvind/tool_comaprision/results/Discover/sampling_run_tcga_result_80_',i,'.rds',sep="")
    boot_results[[k]] <- readRDS(file=name)
    k=k+1
}

In [33]:
length(boot_results)

[1] 5

In [34]:
head(boot_results[[1]])

   gene1  gene2  p.value      q.value      type
12 NRAS   BRAF   6.868518e-32 1.537369e-30 ME
54 PIK3R1 PIK3CA 2.070028e-11 1.259451e-09 ME
47 TP53   KRAS   6.322977e-09 4.249069e-07 ME
22 TP53   CTNNB1 2.997517e-08 1.708207e-06 ME
45 NRAS   KRAS   6.500724e-08 3.360669e-06 ME
11 KRAS   BRAF   3.312124e-07 1.663585e-05 ME

In [35]:
head(select_orginal)

    gene1  gene2  p.value      q.value      type
25  NRAS   BRAF   5.101043e-36 1.257836e-34 ME
142 PIK3R1 PIK3CA 7.150757e-16 3.654473e-14 ME
23  KRAS   BRAF   3.655192e-10 3.114309e-08 ME
110 TP53   KRAS   3.249735e-09 2.587024e-07 ME
50  TP53   CTNNB1 8.464593e-09 5.101314e-07 ME
92  GNAQ   GNA11  1.023966e-08 5.101314e-07 ME

In [36]:
length(unique(paste(select_orginal$gene2,select_orginal$gene1,sep=' - ')))

[1] 248

In [37]:
selectX_100_pct_significnat_results <- select_orginal

In [38]:
select_orginal %>% count(type)

  type n
1 ME   248

In [39]:
score_df<-data.frame('pairs'=paste(select_orginal$gene2,select_orginal$gene1,sep=' - '))
rownames(score_df)<-score_df$pairs
score_df$Run_100<-1

In [40]:
head(score_df)

                pairs           Run_100
BRAF - NRAS     BRAF - NRAS     1
PIK3CA - PIK3R1 PIK3CA - PIK3R1 1
BRAF - KRAS     BRAF - KRAS     1
KRAS - TP53     KRAS - TP53     1
CTNNB1 - TP53   CTNNB1 - TP53   1
GNA11 - GNAQ    GNA11 - GNAQ    1

In [41]:
for (i in c(1:5)){
    score_df[[paste('Run',i,sep="_")]]<-0
    boot_results[[i]]$name_2 <- paste(boot_results[[i]]$gene2,boot_results[[i]]$gene1,sep=' - ')
    temp <- (boot_results[[i]] %>% filter(name_2 %in% score_df$pairs))$name_2
    score_df[temp,][[paste('Run',i,sep="_")]]<-1
}

In [42]:
score_df$Total_count<-(score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5)
score_df$Total <- (score_df$Run_1+score_df$Run_2+score_df$Run_3+score_df$Run_4+score_df$Run_5)/5

In [43]:
score_df

                pairs           Run_100 Run_1 Run_2 Run_3 Run_4 Run_5
BRAF - NRAS     BRAF - NRAS     1       1     1     1     1     1
PIK3CA - PIK3R1 PIK3CA - PIK3R1 1       1     1     1     1     1
BRAF - KRAS     BRAF - KRAS     1       1     1     1     1     1
KRAS - TP53     KRAS - TP53     1       1     1     1     1     1
CTNNB1 - TP53   CTNNB1 - TP53   1       1     1     1     1     1
GNA11 - GNAQ    GNA11 - GNAQ    1       1     1     1     1     1
IDH1 - IDH2     IDH1 - IDH2     1       1     1     1     1     1
KRAS - NRAS     KRAS - NRAS     1       1     1     1     1     1
PIK3CA - GATA3  PIK3CA - GATA3  1       1     1     1     1     1
CDH1 - GATA3    CDH1 - GATA3    1       1     1     1     1     1
ATM - TP53      ATM - TP53      1       1     1     1     1     1
AKT1 - PIK3CA   AKT1 - PIK3CA   1       1     1     1     1     1
EGFR - KRAS     EGFR - KRAS     1       1     1     1     1     1
TP53 - ARID1A   TP53 - ARID1A   1       1     1     1     1     1
CTNNB1 - AXIN1  CTNNB1 - AXIN1  1       1     1     1     1     1
CDKN2A - RB1    CDKN2A - RB1    1       1     1     1     1     1
KRAS - NF1      KRAS - NF1      1       1     1     1     1     1
TP53 - GATA3    TP53 - GATA3    1       1     1     1     1     1
TP53 - STAG2    TP53 - STAG2    1       1     1     1     1     1
PIK3CA - TP53   PIK3CA - TP53   1       1     1     1     1     1
PTEN - TP53     PTEN - TP53     1       1     1     1     1     1
AKT1 - PTEN     AKT1 - PTEN     1       1     1     1     1     1
TP53 - CTCF     TP53 - CTCF     1       1     1     1     1     1
AKT1 - MAP3K1   AKT1 - MAP3K1   1       1     1     1     1     1
HRAS - TP53     HRAS - TP53     1       1     1     1     1     1
TP53 - KMT2C    TP53 - KMT2C    1       1     1     1     1     1
ERBB2 - GATA3   ERBB2 - GATA3   1       1     0     1     1     1
SETD2 - TP53    SETD2 - TP53    1       1     1     1     1     1
KMT2D - KDM6A   KMT2D - KDM6A   1       1     1     1     1     1
BRAF - HRAS     BRAF - HRAS     1       1     1     1     1     1
⋮               ⋮               ⋮       ⋮     ⋮     ⋮     ⋮     ⋮
FBXW7 - KMT2C   FBXW7 - KMT2C   1       0     1     1     1     0
MAP3K1 - GPS2   MAP3K1 - GPS2   1       0     0     0     0     0
CIC - ROS1      CIC - ROS1      1       0     0     0     0     0
PIK3CA - MTOR   PIK3CA - MTOR   1       0     0     0     0     1
KRAS - ARHGAP35 KRAS - ARHGAP35 1       0     0     0     0     0
BRCA2 - PIK3CA  BRCA2 - PIK3CA  1       0     0     0     0     0
RUNX1 - GATA3   RUNX1 - GATA3   1       0     0     0     0     0
DNMT3A - RB1    DNMT3A - RB1    1       0     0     0     0     0
MAP3K1 - NCOR1  MAP3K1 - NCOR1  1       0     0     0     0     0
ARID1A - KDM6A  ARID1A - KDM6A  1       0     0     0     0     0
APC - DDX3X     APC - DDX3X     1       0     0     0     0     0
PTPN11 - SETD2  PTPN11 - SETD2  1       0     0     0     0     0
RUNX1 - NPM1    RUNX1 - NPM1    1       0     0     1     0     0
HRAS - NSD1     HRAS - NSD1     1       0     1     0     0     0
CDKN2A - AMER1  CDKN2A - AMER1  1       0     0     0     0     0
PIK3CA - KMT2D  PIK3CA - KMT2D  1       0     0     0     0     0
MAP3K1 - SPEN   MAP3K1 - SPEN   1       0     0     0     0     0
NRAS - PTPRT    NRAS - PTPRT    1       0     0     0     0     0
KDR - FAT1      KDR - FAT1      1       0     0     0     0     0
KRAS - TP63     KRAS - TP63     1       0     0     0     0     0
CIC - KRAS      CIC - KRAS      1       0     0     0     0     0
TP53 - LZTR1    TP53 - LZTR1    1       0     0     0     0     0
FBXW7 - HLA-B   FBXW7 - HLA-B   1       1     0     1     1     1
ATM - ARID1B    ATM - ARID1B    1       0     0     0     0     0
PIK3R1 - CDKN1B PIK3R1 - CDKN1B 1       0     0     0     0     0
FBXW7 - PIK3CA  FBXW7 - PIK3CA  1       0     0     1     0     0
NFE2L2 - NOTCH1 NFE2L2 - NOTCH1 1       0     1     1     1     0
PTEN - PTPRT    PTEN - PTPRT    1       0     0     0     1     0
FLT3 - IDH2     FLT3 - IDH2     1       0     0     0     0     0
MLH1 - RELN     MLH1 - RELN     1       0     0     0     0     0
                Total_count Total
BRAF - NRAS     5           1.0
PIK3CA - PIK3R1 5           1.0
BRAF - KRAS     5           1.0
KRAS - TP53     5           1.0
CTNNB1 - TP53   5           1.0
GNA11 - GNAQ    5           1.0
IDH1 - IDH2     5           1.0
KRAS - NRAS     5           1.0
PIK3CA - GATA3  5           1.0
CDH1 - GATA3    5           1.0
ATM - TP53      5           1.0
AKT1 - PIK3CA   5           1.0
EGFR - KRAS     5           1.0
TP53 - ARID1A   5           1.0
CTNNB1 - AXIN1  5           1.0
CDKN2A - RB1    5           1.0
KRAS - NF1      5           1.0
TP53 - GATA3    5           1.0
TP53 - STAG2    5           1.0
PIK3CA - TP53   5           1.0
PTEN - TP53     5           1.0
AKT1 - PTEN     5           1.0
TP53 - CTCF     5           1.0
AKT1 - MAP3K1   5           1.0
HRAS - TP53     5           1.0
TP53 - KMT2C    5           1.0
ERBB2 - GATA3   4           0.8
SETD2 - TP53    5           1.0
KMT2D - KDM6A   5           1.0
BRAF - HRAS     5           1.0
⋮               ⋮           ⋮
FBXW7 - KMT2C   3           0.6
MAP3K1 - GPS2   0           0.0
CIC - ROS1      0           0.0
PIK3CA - MTOR   1           0.2
KRAS - ARHGAP35 0           0.0
BRCA2 - PIK3CA  0           0.0
RUNX1 - GATA3   0           0.0
DNMT3A - RB1    0           0.0
MAP3K1 - NCOR1  0           0.0
ARID1A - KDM6A  0           0.0
APC - DDX3X     0           0.0
PTPN11 - SETD2  0           0.0
RUNX1 - NPM1    1           0.2
HRAS - NSD1     1           0.2
CDKN2A - AMER1  0           0.0
PIK3CA - KMT2D  0           0.0
MAP3K1 - SPEN   0           0.0
NRAS - PTPRT    0           0.0
KDR - FAT1      0           0.0
KRAS - TP63     0           0.0
CIC - KRAS      0           0.0
TP53 - LZTR1    0           0.0
FBXW7 - HLA-B   4           0.8
ATM - ARID1B    0           0.0
PIK3R1 - CDKN1B 0           0.0
FBXW7 - PIK3CA  1           0.2
NFE2L2 - NOTCH1 3           0.6
PTEN - PTPRT    1           0.2
FLT3 - IDH2     0           0.0
MLH1 - RELN     0           0.0

In [44]:
cum_pct<-list()
cum_pairs<-list()
for(i in c(1:5)){
    cum_pct[[i]]<-sum(rowSums(score_df[,c(3:7)])>=i)*100/248
    cum_pairs[[i]]<-sum(rowSums(score_df[,c(3:7)])>=i)
}

In [45]:
score_df_v6<-data.frame('Recovery'=c(1:5),'n'=unlist(cum_pairs),'pct'=unlist(cum_pct))
score_df_v6$Recovery <-as.factor(score_df_v6$Recovery)

In [46]:
score_df_v6

  Recovery n   pct
1 1        147 59.27419
2 2        117 47.17742
3 3         99 39.91935
4 4         78 31.45161
5 5         64 25.80645

In [47]:
score_df %>% count(Total) %>% mutate(pct=(n*100/248))

  Total n   pct
1 0.0   101 40.725806
2 0.2    30 12.096774
3 0.4    18  7.258065
4 0.6    21  8.467742
5 0.8    14  5.645161
6 1.0    64 25.806452

## Combine plots for sampling analysis

In [48]:
head(score_df_v3)

  Recovery n   pct
1 1        195 87.83784
2 2        171 77.02703
3 3        158 71.17117
4 4        141 63.51351
5 5        112 50.45045

In [49]:
head(score_df_v4)

  Recovery n   pct
1 1        101 51.53061
2 2         73 37.24490
3 3         54 27.55102
4 4         39 19.89796
5 5         28 14.28571

In [50]:
head(score_df_v6)

  Recovery n   pct
1 1        147 59.27419
2 2        117 47.17742
3 3         99 39.91935
4 4         78 31.45161
5 5         64 25.80645

In [51]:
plot_data<-rbind(
                 score_df_v3,
                 score_df_v4,
                 score_df_v6)

In [52]:
dim(plot_data)

[1] 15  3

In [53]:
head(plot_data)

  Recovery n   pct
1 1        195 87.83784
2 2        171 77.02703
3 3        158 71.17117
4 4        141 63.51351
5 5        112 50.45045
6 1        101 51.53061

In [54]:
plot_data$name<-c(
                  rep('SelectSim',5),
                  rep('SELECT',5),
                  rep('Discover',5))

In [55]:
head(plot_data)

  Recovery n   pct      name
1 1        195 87.83784 SelectSim
2 2        171 77.02703 SelectSim
3 3        158 71.17117 SelectSim
4 4        141 63.51351 SelectSim
5 5        112 50.45045 SelectSim
6 1        101 51.53061 SELECT

In [62]:
plot_data

   Recovery n   pct      name
1  1        195 87.83784 SelectSim
2  2        171 77.02703 SelectSim
3  3        158 71.17117 SelectSim
4  4        141 63.51351 SelectSim
5  5        112 50.45045 SelectSim
6  1        101 51.53061 SELECT
7  2         73 37.24490 SELECT
8  3         54 27.55102 SELECT
9  4         39 19.89796 SELECT
10 5         28 14.28571 SELECT
11 1        147 59.27419 Discover
12 2        117 47.17742 Discover
13 3         99 39.91935 Discover
14 4         78 31.45161 Discover
15 5         64 25.80645 Discover

In [ ]:
saveRDS(plot_data,'/mnt/ndata/arvind/co_mutation_project/analysis/robustness_benchmarking/figures/pan_can_plot_recovery_data.rds')