In [1]:
import pandas as pd
import numpy as np
import json

# Note
- Download the python package (https://www.ncbi.nlm.nih.gov/CBBresearch/Przytycka/index.cgi#wesme)
- Code is in python v2
- Provided here is the processing of input and script run after puttting the files in directory as mentioned by tool

In [2]:
data = pd.read_csv('/mnt/ptemp/arvind/tool_comaprision/data/luad_orginal_gam_wesme.tsv',sep="\t")

In [3]:
with open("/mnt/ptemp/arvind/tool_comaprision/data/luad_sampling_list.json") as f:
    l = json.load(f)

In [4]:
len(l[1])

401

In [5]:
data.head(2)

,TCGA-05-4244-01,TCGA-05-4249-01,TCGA-05-4250-01,TCGA-05-4382-01,TCGA-05-4384-01,TCGA-05-4389-01,TCGA-05-4390-01,TCGA-05-4395-01,TCGA-05-4396-01,TCGA-05-4397-01,...,TCGA-NJ-A4YG-01,TCGA-NJ-A4YI-01,TCGA-NJ-A4YP-01,TCGA-NJ-A4YQ-01,TCGA-NJ-A55A-01,TCGA-NJ-A55O-01,TCGA-NJ-A55R-01,TCGA-NJ-A7XG-01,TCGA-O1-A52J-01,TCGA-S2-AA1A-01
ABL1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AKT1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
len(data.loc[:,l[1]].sum(0).loc[data.loc[:,l[1]].sum(0)!=0,].index.tolist())

281

In [7]:
k=1
for i in range(0,10):
    f = open('/mnt/ptemp/arvind/tool_comaprision/data/LUAD_'+str(k)+'_smut_list.txt', 'w')
    f.write('samples\t')
    temp = ["%s," % item  for item in data.loc[:,l[i]].sum(0).loc[data.loc[:,l[i]].sum(0)!=0,].index.tolist()]
    f.writelines(temp[0:len(temp)-1])
    f.writelines(str(data.columns.tolist()[-1]))
    f.write('\n')
    temp = ["%s," % item  for item in data.loc[:,l[i]].sum(0).loc[data.loc[:,l[i]].sum(0)!=0,].index.tolist()]
    for index, row in data.loc[:,data.loc[:,l[i]].sum(0).loc[data.loc[:,l[i]].sum(0)!=0,].index.tolist()].iterrows():
        result = np.where(row == 1)
        result = result[0].tolist()
        temp=["%s," % item  for item in result]
        if len(temp)>=1:
            f.write(str(index)+'\t')
            f.writelines(temp[0:len(temp)-1])
            f.writelines(str(result[-1])+'\n')
    f.close()
    print(len(l[i]))
    k=k+1

401
401
401
401
401
401
401
401
401
401

In [ ]:
# Script to in terminal
python comp_sample_weights.py LUAD_5 smut
python run_weighted_sampling.py LUAD_5 smut 1000
python comp_me_for_all_pairs.py LUAD_5 smut 0.1
python comp_co_for_all_pairs.py LUAD_5 smut 0.1

## TCGA Silent Data results

In [ ]:
data = pd.read_csv('/mnt/ptemp/arvind/tool_comaprision/data/tcga_silent_gam_wesme_data.tsv',sep="\t")

In [ ]:
data.head(2)

In [ ]:
(data.sum(0).loc[data.sum(0)!=0,].index.tolist())

In [ ]:
f = open('/mnt/ptemp/arvind/tool_comaprision/data/tcga_silent'+'_smut_list.txt', 'w')
f.write('samples\t')
temp = ["%s," % item  for item in data.sum(0).loc[data.sum(0)!=0,].index.tolist()]
f.writelines(temp[0:len(temp)-1])
f.writelines(str(data.columns.tolist()[-1]))
f.write('\n')
temp = ["%s," % item  for item in (data.sum(0).loc[data.sum(0)!=0,].index.tolist())]
for index, row in data.loc[:,data.sum(0).loc[data.sum(0)!=0,].index.tolist()].iterrows():
        result = np.where(row == 1)
        result = result[0].tolist()
        temp=["%s," % item  for item in result]
        if len(temp)>=1:
            f.write(str(index)+'\t')
            f.writelines(temp[0:len(temp)-1])
            f.writelines(str(result[-1])+'\n')
f.close()

In [ ]:
python comp_sample_weights.py tcga_silent smut
python run_weighted_sampling.py tcga_silent smut 1000
python comp_me_for_all_pairs.py tcga_silent smut 0.1
python comp_co_for_all_pairs.py tcga_silent smut 0.1