In [1]:
library('SelectSim')
library('tidyverse')
library('tictoc')

── Attaching core tidyverse packages ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
sessionInfo()

R version 4.3.2 (2023-10-31)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: CentOS Linux 7 (Core)

Matrix products: default
BLAS/LAPACK: /mnt/ndata/arvind/envs/R_4/lib/libopenblasp-r0.3.25.so;  LAPACK version 3.11.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

time zone: Europe/Zurich
tzcode source: system (glibc)

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
 [1] tictoc_1.2        lubridate_1.9.3   forcats_1.0.0     stringr_1.5.1
 [5] dplyr_1.1.4       purrr_1.0.2       readr_2.1.5       tidyr_1.3.0
 [9] tibble_3.2.1      ggplot2_3.4.4     tidyverse_2.0.0   SelectSim_0.0.1.3

loaded via a namespace (and not attached):
 [1] gtable_0.3.4       rstatix_0.7.2      lattice_0.22-5     tzdb_0.4.0
 [5] vctrs_0.6.5        tools_4.3.2        generics_0.1.3     parallel_4.3.2
 [9] fansi_1.0.6        pkgconfig_2.0.3    Matrix_1.6-5       ggridges_0.5.5
[13] rngtools_1.5.2     RcppParallel_5.1.6 uuid_1.2-0         lifecycle_1.0.4
[17] compiler_4.3.2     munsell_0.5.0      repr_1.1.6         codetools_0.2-19
[21] carData_3.0-5      htmltools_0.5.7    pillar_1.9.0       car_3.1-2
[25] ggpubr_0.6.0       crayon_1.5.2       doRNG_1.8.6        iterators_1.0.14
[29] abind_1.4-5        foreach_1.5.2      tidyselect_1.2.0   digest_0.6.34
[33] stringi_1.8.3      reshape2_1.4.4     fastmap_1.1.1      grid_4.3.2
[37] colorspace_2.1-0   cli_3.6.2          magrittr_2.0.3     base64enc_0.1-3
[41] Rfast_2.1.0        utf8_1.2.4         IRdisplay_1.1      broom_1.0.5
[45] withr_3.0.0        scales_1.3.0       backports_1.4.1    IRkernel_1.3.2
[49] RcppZiggurat_0.1.6 timechange_0.3.0   pbdZMQ_0.3-11      ggsignif_0.6.4
[53] hms_1.1.3          evaluate_0.23      doParallel_1.0.17  rlang_1.1.3
[57] Rcpp_1.0.12        glue_1.7.0         jsonlite_1.8.8     R6_2.5.1
[61] plyr_1.8.9

# MSK enrichmenet analysis

In [3]:
msk_p_m_results <- readRDS(file='/mnt/ndata/arvind/co_mutation_project/analysis/primary_met_work/results/msk_p_m_sampling_results_list.rds')
msk_m_results<-readRDS(file='/mnt/ndata/arvind/co_mutation_project/analysis/primary_met_work/results/msk_m_sampling_results_list.rds')
msk_p_results<-readRDS(file='/mnt/ndata/arvind/co_mutation_project/analysis/primary_met_work/results/msk_p_sampling_results_list.rds')

In [4]:
str(msk_p_results,max.level = 1)
str(msk_m_results,max.level = 1)
str(msk_p_m_results,max.level = 1)

List of 10
 $ :'data.frame':	31626 obs. of  23 variables:
 $ :'data.frame':	30628 obs. of  23 variables:
 $ :'data.frame':	28920 obs. of  23 variables:
 $ :'data.frame':	30628 obs. of  23 variables:
 $ :'data.frame':	30381 obs. of  23 variables:
 $ :'data.frame':	30876 obs. of  23 variables:
 $ :'data.frame':	29890 obs. of  23 variables:
 $ :'data.frame':	32385 obs. of  23 variables:
 $ :'data.frame':	31626 obs. of  23 variables:
 $ :'data.frame':	31125 obs. of  23 variables:
List of 10
 $ :'data.frame':	32896 obs. of  23 variables:
 $ :'data.frame':	31626 obs. of  23 variables:
 $ :'data.frame':	31878 obs. of  23 variables:
 $ :'data.frame':	31375 obs. of  23 variables:
 $ :'data.frame':	32131 obs. of  23 variables:
 $ :'data.frame':	31878 obs. of  23 variables:
 $ :'data.frame':	32896 obs. of  23 variables:
 $ :'data.frame':	32131 obs. of  23 variables:
 $ :'data.frame':	32131 obs. of  23 variables:
 $ :'data.frame':	32385 obs. of  23 variables:
List of 20
 $ :'data.frame':	31375 obs. of  23 variables:
 $ :'data.frame':	30381 obs. of  23 variables:
 $ :'data.frame':	31375 obs. of  23 variables:
 $ :'data.frame':	30381 obs. of  23 variables:
 $ :'data.frame':	32131 obs. of  23 variables:
 $ :'data.frame':	32896 obs. of  23 variables:
 $ :'data.frame':	31125 obs. of  23 variables:
 $ :'data.frame':	31375 obs. of  23 variables:
 $ :'data.frame':	32385 obs. of  23 variables:
 $ :'data.frame':	31375 obs. of  23 variables:
 $ :'data.frame':	31626 obs. of  23 variables:
 $ :'data.frame':	31878 obs. of  23 variables:
 $ :'data.frame':	32640 obs. of  23 variables:
 $ :'data.frame':	30876 obs. of  23 variables:
 $ :'data.frame':	29403 obs. of  23 variables:
 $ :'data.frame':	31878 obs. of  23 variables:
 $ :'data.frame':	32131 obs. of  23 variables:
 $ :'data.frame':	31125 obs. of  23 variables:
 $ :'data.frame':	30381 obs. of  23 variables:
 $ :'data.frame':	30628 obs. of  23 variables:

In [5]:
for(i in c(1:10)){
    msk_p_results[[i]]<-msk_p_results[[i]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - ")))
    msk_m_results[[i]]<-msk_m_results[[i]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - ")))
}

In [6]:
for(i in c(1:20)){
    msk_p_m_results[[i]]<-msk_p_m_results[[i]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - ")))
}

In [7]:
msk_p_m_results_cat1 <- list()
msk_p_m_results_cat2 <- list()
k=1
for(i in c(1:10)){
    msk_p_m_results_cat1[[k]]<- msk_p_m_results[[i]]
    msk_p_m_results_cat2[[k]]<- msk_p_m_results[[i+10]]
    k=k+1
}

In [8]:
str(msk_p_m_results_cat1,max.level = 1)
str(msk_p_m_results_cat2,max.level = 1)

List of 10
 $ :'data.frame':	31375 obs. of  24 variables:
 $ :'data.frame':	30381 obs. of  24 variables:
 $ :'data.frame':	31375 obs. of  24 variables:
 $ :'data.frame':	30381 obs. of  24 variables:
 $ :'data.frame':	32131 obs. of  24 variables:
 $ :'data.frame':	32896 obs. of  24 variables:
 $ :'data.frame':	31125 obs. of  24 variables:
 $ :'data.frame':	31375 obs. of  24 variables:
 $ :'data.frame':	32385 obs. of  24 variables:
 $ :'data.frame':	31375 obs. of  24 variables:
List of 10
 $ :'data.frame':	31626 obs. of  24 variables:
 $ :'data.frame':	31878 obs. of  24 variables:
 $ :'data.frame':	32640 obs. of  24 variables:
 $ :'data.frame':	30876 obs. of  24 variables:
 $ :'data.frame':	29403 obs. of  24 variables:
 $ :'data.frame':	31878 obs. of  24 variables:
 $ :'data.frame':	32131 obs. of  24 variables:
 $ :'data.frame':	31125 obs. of  24 variables:
 $ :'data.frame':	30381 obs. of  24 variables:
 $ :'data.frame':	30628 obs. of  24 variables:

In [9]:
list1 <- c(1:10)
list2 <- c(1:10)
combinations <- expand.grid(list1, list2)
unique_combinations <- combinations[combinations$Var1 < combinations$Var2, ]

In [10]:
unique_combinations %>% head()

   Var1 Var2
11 1    2
21 1    3
22 2    3
31 1    4
32 2    4
33 3    4

In [11]:
fold_change_function <- function(combinations, msk_p_result, msk_m_result){
    fold_change_df <- list()
    fold_change_common_pairs <- list()
    obsered_fc<-c()
    for(i in c(1:nrow(combinations))){
        rows<-combinations[[i,1]]
        cols<-combinations[[i,2]]
        cat('--Running Combination',rows,' ',cols,'---\n')
        common_pairs <- unique(intersect(msk_p_result[[rows]]$id,msk_m_result[[cols]]$id))
        temp <- merge(msk_p_result[[rows]],msk_m_result[[cols]],by = 'id',suffixes = c('_primary','_met'))
        temp$FC <- log2((abs(temp$wES_met))/(abs(temp$wES_primary)))
        fold_change_df[[i]]<-temp
        significant_df <- temp %>% filter(FDR_primary==TRUE | FDR_met==TRUE)
        obsered_fc <- c(obsered_fc,significant_df$FC)
        fold_change_common_pairs[[i]]<-common_pairs
    }
    return(list('df'=fold_change_df,'pairs'=fold_change_common_pairs,'FC'=obsered_fc))
}

In [12]:
actual_fc_list <- fold_change_function(combinations = unique_combinations,msk_p_result = msk_p_results,msk_m_result = msk_m_results)

--Running Combination 1   2 ---
--Running Combination 1   3 ---
--Running Combination 2   3 ---
--Running Combination 1   4 ---
--Running Combination 2   4 ---
--Running Combination 3   4 ---
--Running Combination 1   5 ---
--Running Combination 2   5 ---
--Running Combination 3   5 ---
--Running Combination 4   5 ---
--Running Combination 1   6 ---
--Running Combination 2   6 ---
--Running Combination 3   6 ---
--Running Combination 4   6 ---
--Running Combination 5   6 ---
--Running Combination 1   7 ---
--Running Combination 2   7 ---
--Running Combination 3   7 ---
--Running Combination 4   7 ---
--Running Combination 5   7 ---
--Running Combination 6   7 ---
--Running Combination 1   8 ---
--Running Combination 2   8 ---
--Running Combination 3   8 ---
--Running Combination 4   8 ---
--Running Combination 5   8 ---
--Running Combination 6   8 ---
--Running Combination 7   8 ---
--Running Combination 1   9 ---
--Running Combination 2   9 ---
--Running Combination 3   9 ---
--Running Combination 4   9 ---
--Running Combination 5   9 ---
--Running Combination 6   9 ---
--Running Combination 7   9 ---
--Running Combination 8   9 ---
--Running Combination 1   10 ---
--Running Combination 2   10 ---
--Running Combination 3   10 ---
--Running Combination 4   10 ---
--Running Combination 5   10 ---
--Running Combination 6   10 ---
--Running Combination 7   10 ---
--Running Combination 8   10 ---
--Running Combination 9   10 ---

In [13]:
random_fc_list <- fold_change_function(combinations = unique_combinations,msk_p_result = msk_p_m_results_cat1,msk_m_result = msk_p_m_results_cat2)

--Running Combination 1   2 ---
--Running Combination 1   3 ---
--Running Combination 2   3 ---
--Running Combination 1   4 ---
--Running Combination 2   4 ---
--Running Combination 3   4 ---
--Running Combination 1   5 ---
--Running Combination 2   5 ---
--Running Combination 3   5 ---
--Running Combination 4   5 ---
--Running Combination 1   6 ---
--Running Combination 2   6 ---
--Running Combination 3   6 ---
--Running Combination 4   6 ---
--Running Combination 5   6 ---
--Running Combination 1   7 ---
--Running Combination 2   7 ---
--Running Combination 3   7 ---
--Running Combination 4   7 ---
--Running Combination 5   7 ---
--Running Combination 6   7 ---
--Running Combination 1   8 ---
--Running Combination 2   8 ---
--Running Combination 3   8 ---
--Running Combination 4   8 ---
--Running Combination 5   8 ---
--Running Combination 6   8 ---
--Running Combination 7   8 ---
--Running Combination 1   9 ---
--Running Combination 2   9 ---
--Running Combination 3   9 ---
--Running Combination 4   9 ---
--Running Combination 5   9 ---
--Running Combination 6   9 ---
--Running Combination 7   9 ---
--Running Combination 8   9 ---
--Running Combination 1   10 ---
--Running Combination 2   10 ---
--Running Combination 3   10 ---
--Running Combination 4   10 ---
--Running Combination 5   10 ---
--Running Combination 6   10 ---
--Running Combination 7   10 ---
--Running Combination 8   10 ---
--Running Combination 9   10 ---

In [14]:
consider_hits <- list()
consider_hit_df<-list()

In [15]:
for(i in c(1:45)){
   consider_hits[[i]]<-(actual_fc_list$df[[i]] %>% filter( FDR_primary==TRUE | FDR_met==TRUE))$id
   consider_hit_df[[i]]<-(actual_fc_list$df[[i]] %>% filter( FDR_primary==TRUE | FDR_met==TRUE)) %>% select(id,FC,wES_primary,wES_met,FDR_primary,FDR_met)
}

In [16]:
all_considered_hits <- unique(Reduce(union,consider_hits))

In [17]:
str(actual_fc_list,max.level = 1)

List of 3
 $ df   :List of 45
 $ pairs:List of 45
 $ FC   : num [1:13173] 0.1981 -2.8914 1.2162 0.4604 0.0496 ...

In [18]:
length(all_considered_hits)

[1] 502

In [19]:
filter_msk_p_result<-list()
filter_msk_m_result<-list()

In [20]:
for(i in c(1:10)){
    filter_msk_p_result[[i]]<-msk_p_results[[i]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - "))) %>% filter(id %in% all_considered_hits)
    filter_msk_m_result[[i]]<-msk_m_results[[i]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - ")))%>% filter(id %in% all_considered_hits)
}

In [21]:
merge_msk_p_result <- bind_rows(filter_msk_p_result)
rownames(merge_msk_p_result)<-c(1:nrow(merge_msk_p_result))
merge_msk_m_result <- bind_rows(filter_msk_m_result)
rownames(merge_msk_m_result)<-c(1:nrow(merge_msk_m_result))

In [22]:
df1<-merge_msk_p_result %>% select(id,sampling_run,wES) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = wES)
df2<-merge_msk_m_result %>% select(id,sampling_run,wES) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = wES)

In [23]:
df1$mean_nES<-rowMeans(df1[, !names(df1) %in% 'id'],na.rm = TRUE)
df2$mean_nES<-rowMeans(df2[, !names(df2) %in% 'id'],na.rm = TRUE)

In [24]:
dim(df1)
dim(df2)

[1] 502  12

[1] 502  12

In [25]:
plot_df <- data.frame('id'=(df1 %>% arrange(id))$id,'primary_wES'=(df1 %>% arrange(id))$mean_nES,'met_wES'=(df2 %>% arrange(id))$mean_nES)

In [26]:
actual_df <- plot_df

In [27]:
str(actual_fc_list,max.level = 1)

List of 3
 $ df   :List of 45
 $ pairs:List of 45
 $ FC   : num [1:13173] 0.1981 -2.8914 1.2162 0.4604 0.0496 ...

In [28]:
head(actual_df)

  id            primary_wES met_wES
1 AKT1 - CTNNB1   2.560476    3.431055
2 AKT1 - ERBB2   -1.722873   -3.177890
3 AKT1 - GATA3    4.569404    1.326602
4 AKT1 - KRAS    -2.076782   -4.054555
5 AKT1 - MTOR     1.917500    2.069202
6 AKT1 - PIK3CA -17.336163  -25.883842

In [29]:
actual_df$FC <- log2(abs(actual_df$met_wES)/abs(actual_df$primary_wES))

In [30]:
head(actual_df)

  id            primary_wES met_wES    FC
1 AKT1 - CTNNB1   2.560476    3.431055  0.4222401
2 AKT1 - ERBB2   -1.722873   -3.177890  0.8832525
3 AKT1 - GATA3    4.569404    1.326602 -1.7842708
4 AKT1 - KRAS    -2.076782   -4.054555  0.9651935
5 AKT1 - MTOR     1.917500    2.069202  0.1098482
6 AKT1 - PIK3CA -17.336163  -25.883842  0.5782672

In [31]:
filter_msk_p_result_cat1<-list()
filter_msk_m_result_cat2<-list()

In [32]:
for(i in c(1:10)){
    filter_msk_p_result_cat1[[i]]<-msk_p_m_results[[i]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - ")))  
    filter_msk_m_result_cat2[[i]]<-msk_p_m_results[[i+10]] %>% mutate(id=case_when(SFE_1>SFE_2 ~paste(SFE_2,SFE_1,sep=" - "),
                        SFE_1<SFE_2 ~paste(SFE_1,SFE_2,sep=" - ")))
}

In [33]:
merge_msk_p_result_comb <- bind_rows(filter_msk_p_result_cat1)
rownames(merge_msk_p_result_comb)<-c(1:nrow(merge_msk_p_result_comb))
merge_msk_m_result_comb <- bind_rows(filter_msk_m_result_cat2)
rownames(merge_msk_m_result_comb)<-c(1:nrow(merge_msk_m_result_comb))

In [34]:
df1<-merge_msk_p_result_comb %>% select(id,sampling_run,wES) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = wES)
df2<-merge_msk_m_result_comb %>% select(id,sampling_run,wES) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = wES)

In [35]:
df1$mean_nES<-rowMeans(df1[, !names(df1) %in% 'id'],na.rm = FALSE)
df2$mean_nES<-rowMeans(df2[, !names(df2) %in% 'id'],na.rm = FALSE)

In [36]:
dim(df1)
dim(df2)

[1] 38036    12

[1] 38786    12

In [37]:
random_df <- data.frame('id'=(df1 %>% filter(id %in% actual_df$id)%>% arrange(id))$id,
                        'primary_wES'=(df1  %>% filter(id %in% actual_df$id) %>% arrange(id))$mean_nES,
                        'met_wES'=(df2 %>% filter(id %in% actual_df$id) %>% arrange(id))$mean_nES)

In [38]:
head(random_df)

  id            primary_wES met_wES
1 AKT1 - CTNNB1   2.458196    2.310384
2 AKT1 - ERBB2   -2.274579   -2.225329
3 AKT1 - GATA3    2.951097    3.640077
4 AKT1 - KRAS    -2.523518   -3.033103
5 AKT1 - MTOR     1.523225    1.818350
6 AKT1 - PIK3CA -21.183948  -20.930818

In [39]:
random_df$FC <- log2(abs(random_df$met)/abs(random_df$primary))

In [40]:
head(random_df)

  id            primary_wES met_wES    FC
1 AKT1 - CTNNB1   2.458196    2.310384 -0.08946738
2 AKT1 - ERBB2   -2.274579   -2.225329 -0.03158092
3 AKT1 - GATA3    2.951097    3.640077  0.30271776
4 AKT1 - KRAS    -2.523518   -3.033103  0.26535835
5 AKT1 - MTOR     1.523225    1.818350  0.25550064
6 AKT1 - PIK3CA -21.183948  -20.930818 -0.01734278

In [41]:
dim(actual_df)
dim(random_df)

[1] 502   4

[1] 502   4

In [42]:
# Create a data frame
df <- data.frame(value =c(actual_df$FC,random_df$FC),
                 group = c(rep('Observed',502),rep('Expected',502)))

In [43]:
df

     value       group
1     0.42224007 Observed
2     0.88325254 Observed
3    -1.78427081 Observed
4     0.96519354 Observed
5     0.10984817 Observed
6     0.57826716 Observed
7     0.37517363 Observed
8    -3.30612308 Observed
9     1.79059977 Observed
10   -0.13366207 Observed
11    3.22136750 Observed
12    0.72973733 Observed
13   -0.88846168 Observed
14   -0.38587411 Observed
15   -0.62328283 Observed
16    0.87059470 Observed
17   -0.26791353 Observed
18    0.44798399 Observed
19    0.41993425 Observed
20   -0.34016957 Observed
21    0.01794344 Observed
22    0.33236427 Observed
23   -0.14890555 Observed
24   -0.39380442 Observed
25    1.23149511 Observed
26    0.59117985 Observed
27    0.47217661 Observed
28    1.51185815 Observed
29    0.76066131 Observed
30    0.97800864 Observed
⋮    ⋮           ⋮
975   0.01698099 Expected
976  -0.02279082 Expected
977  -0.24620927 Expected
978  -0.11225861 Expected
979  -0.02389817 Expected
980  -0.04084739 Expected
981   0.08316059 Expected
982   0.13565257 Expected
983   0.06210320 Expected
984   0.08880554 Expected
985   0.11177130 Expected
986  -0.41554654 Expected
987  -0.10917362 Expected
988  -0.15488405 Expected
989   0.08507522 Expected
990  -0.53758268 Expected
991   0.02827960 Expected
992           NA Expected
993   0.07541533 Expected
994   0.19380069 Expected
995   0.05790571 Expected
996   0.24713509 Expected
997   0.15288923 Expected
998  -0.14372190 Expected
999   0.17839173 Expected
1000 -0.16238718 Expected
1001  1.00595025 Expected
1002  0.52197758 Expected
1003  0.05886834 Expected
1004  0.12048637 Expected

In [44]:
ids <- actual_df$id

In [45]:
# Create a data frame
pair_df <- data.frame(pairs=ids,
                 background=(random_df%>%filter(id %in% ids))$FC,
                 actual=(actual_df%>%filter(id %in% ids))$FC)

In [46]:
head(pair_df)

  pairs         background  actual
1 AKT1 - CTNNB1 -0.08946738  0.4222401
2 AKT1 - ERBB2  -0.03158092  0.8832525
3 AKT1 - GATA3   0.30271776 -1.7842708
4 AKT1 - KRAS    0.26535835  0.9651935
5 AKT1 - MTOR    0.25550064  0.1098482
6 AKT1 - PIK3CA -0.01734278  0.5782672

In [47]:
df <- data.frame(value =c(actual_df$FC,random_df$FC),
                 group = c(rep('Observed',502),rep('Expected',502)))

In [48]:
pair_df<-pair_df %>% mutate(diff=abs(abs(actual)-abs(background)))

In [49]:
summary(pair_df$diff)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.     NA's
0.000144 0.190585 0.488932 0.968812 1.296148 7.327313        3

In [50]:
msk_p_mat_df <-merge_msk_p_result %>% select(id,sampling_run,FDR) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = FDR)
msk_m_mat_df <-merge_msk_m_result %>% select(id,sampling_run,FDR) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = FDR)

In [51]:
sum_excluding <- rowSums(msk_p_mat_df[, !names(msk_p_mat_df) %in% 'id'],na.rm = TRUE)

In [52]:
msk_p_mat_df$count <-sum_excluding

In [53]:
sum_excluding <- rowSums(msk_m_mat_df[, !names(msk_m_mat_df) %in% 'id'],na.rm = TRUE)

In [54]:
msk_m_mat_df$count <-sum_excluding

In [55]:
head(pair_df)

  pairs         background  actual     diff
1 AKT1 - CTNNB1 -0.08946738  0.4222401 0.3327727
2 AKT1 - ERBB2  -0.03158092  0.8832525 0.8516716
3 AKT1 - GATA3   0.30271776 -1.7842708 1.4815531
4 AKT1 - KRAS    0.26535835  0.9651935 0.6998352
5 AKT1 - MTOR    0.25550064  0.1098482 0.1456525
6 AKT1 - PIK3CA -0.01734278  0.5782672 0.5609244

In [56]:
df1<-merge_msk_p_result %>% select(id,sampling_run,wES) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = wES)
df2<-merge_msk_m_result %>% select(id,sampling_run,wES) %>% pivot_wider(names_from = sampling_run,id_cols = id,values_from = wES)

In [57]:
df1$mean_nES<-rowMeans(df1[, !names(df1) %in% 'id'],na.rm = TRUE)
df2$mean_nES<-rowMeans(df2[, !names(df2) %in% 'id'],na.rm = TRUE)

In [58]:
dim(df1)
dim(df2)

[1] 502  12

[1] 502  12

In [59]:
plot_df <- data.frame('id'=(df1 %>% arrange(id))$id,'primary_wES'=(df1 %>% arrange(id))$mean_nES,'met_wES'=(df2 %>% arrange(id))$mean_nES)

In [60]:
head(plot_df)

  id            primary_wES met_wES
1 AKT1 - CTNNB1   2.560476    3.431055
2 AKT1 - ERBB2   -1.722873   -3.177890
3 AKT1 - GATA3    4.569404    1.326602
4 AKT1 - KRAS    -2.076782   -4.054555
5 AKT1 - MTOR     1.917500    2.069202
6 AKT1 - PIK3CA -17.336163  -25.883842

In [61]:
msk_count_m <- msk_m_mat_df$count
names(msk_count_m)<-msk_m_mat_df$id
msk_count_p <- msk_p_mat_df$count
names(msk_count_p)<-msk_p_mat_df$id

In [62]:
plot_df<-plot_df %>% mutate(m_count =msk_count_m[id],p_count=msk_count_p[id])

In [63]:
head(plot_df)

  id            primary_wES met_wES    m_count p_count
1 AKT1 - CTNNB1   2.560476    3.431055  4       2
2 AKT1 - ERBB2   -1.722873   -3.177890  1       0
3 AKT1 - GATA3    4.569404    1.326602  0       9
4 AKT1 - KRAS    -2.076782   -4.054555  9       1
5 AKT1 - MTOR     1.917500    2.069202  0       3
6 AKT1 - PIK3CA -17.336163  -25.883842 10      10

In [64]:
diff_FC <- pair_df$diff
names(diff_FC)<-pair_df$pairs

In [65]:
FC_actual <- pair_df$actual
names(FC_actual)<-pair_df$pairs

FC_random <- pair_df$background
names(FC_random)<-pair_df$pairs

In [66]:
plot_df<-plot_df %>% mutate(diff=diff_FC[id],'FC_observed'=FC_actual[id],'FC_background'=FC_random[id])

In [67]:
head(plot_df)

  id            primary_wES met_wES    m_count p_count diff      FC_observed
1 AKT1 - CTNNB1   2.560476    3.431055  4       2      0.3327727  0.4222401
2 AKT1 - ERBB2   -1.722873   -3.177890  1       0      0.8516716  0.8832525
3 AKT1 - GATA3    4.569404    1.326602  0       9      1.4815531 -1.7842708
4 AKT1 - KRAS    -2.076782   -4.054555  9       1      0.6998352  0.9651935
5 AKT1 - MTOR     1.917500    2.069202  0       3      0.1456525  0.1098482
6 AKT1 - PIK3CA -17.336163  -25.883842 10      10      0.5609244  0.5782672
  FC_background
1 -0.08946738
2 -0.03158092
3  0.30271776
4  0.26535835
5  0.25550064
6 -0.01734278

In [68]:
# Distance Metric
plot_df<-plot_df %>% mutate(distance_observed = (met_wES-primary_wES)*(1/sqrt(2))) %>% arrange(desc(abs(distance_observed)))

In [69]:
head(plot_df)

  id             primary_wES met_wES     m_count p_count diff      FC_observed
1 ESR1 - TP53      -5.611450  -42.251919 10      10      2.8805392  2.9125714
2 EGFR - TP53      -9.544392   15.431348 10       8      0.3846001  0.6931388
3 GATA3 - PIK3CA   -3.056907  -24.611199 10       1      2.7249020  3.0091706
4 PIK3CA - TP53  -119.710968 -103.943677 10      10      0.2000666 -0.2037533
5 EGFR - RBM10      7.429290   -4.939398  6      10      0.4175098 -0.5888893
6 CBFB - PIK3CA    11.100302   -1.072184  0      10      3.2172097 -3.3719744
  FC_background distance_observed
1 -0.032032182  -25.908724
2  0.308538701   17.660515
3 -0.284268551  -15.241186
4 -0.003686738   11.149158
5  1.006399020   -8.745983
6  0.154764709   -8.607247

# Extracting Distance Cutoff to Decide enriched pairs

In [70]:
rnd<-msk_p_m_results
pset = c()
for(i in 1:10){

	temp = rnd[[i]]
	temp = temp[ temp$FDR, ]
	temp = temp[ , 'wES', drop = F]
	colnames(temp) = c(paste(c('wES_p',i), collapse = ""))
	
	if(i == 1){
		pset = temp
	} else {
		pset = merge(pset, temp, by = "row.names", all = TRUE)
		rownames(pset) = pset$Row.names
		pset = pset[,-1]
	}

}

mset = c()

for(i in 11:20){

	temp = rnd[[i]]
	temp = temp[ temp$FDR, ]
	temp = temp[ , 'wES', drop = F]
	colnames(temp) = c(paste(c('wES_m',i), collapse = ""))
	
	if(i == 11){
		mset = temp
	} else {
		mset = merge(mset, temp, by = "row.names", all = TRUE)
		rownames(mset) = mset$Row.names
		mset = mset[,-1]
	}

}

In [71]:
pset$primary_wES = apply(pset, 1, function (x) mean(x[!is.na(x)]))
mset$met_wES = apply(mset, 1, function (x) mean(x[!is.na(x)]))

set = merge(pset[,'primary_wES',drop = F], mset[,'met_wES',drop = F], by = 'row.names')
set$distance = (set$met_wES - set$primary_wES)*sin(pi/4)

In [72]:
set

    Row.names       primary_wES met_wES     distance
1   AKT1 - CBFB       3.500317    3.834327   0.23618092
2   AKT1 - CTNNB1     4.255962    3.974334  -0.19914159
3   AKT1 - PIK3CA   -21.183948  -20.930818   0.17898986
4   AKT1 - PIK3R1    -4.264924   -3.452738   0.57430192
5   AKT1 - TP53     -11.622576  -12.335965  -0.50444198
6   ANKRD11 - TP53   -4.839156   -6.000579  -0.82125023
7   APC - BRAF      -10.839861  -12.336043  -1.05796066
8   APC - EGFR       -4.798157   -5.164832  -0.25927814
9   APC - KDM6A      -4.653610   -4.886895  -0.16495693
10  APC - KMT2C      -5.073716   -5.204697  -0.09261811
11  ARID1A - APC     -9.623245   -8.923826   0.49456375
12  ARID1A - ARID1B   4.473654    4.333950  -0.09878540
13  ARID1A - ATM     -5.381653   -4.826954   0.39223151
14  ARID1A - BAP1    -4.030227   -4.806128  -0.54864482
15  ARID1A - BRCA2   -3.463393   -4.081963  -0.43739485
16  ARID1A - CCND1    3.614673    3.148471  -0.32965472
17  ARID1A - CTCF     4.769188    5.078693   0.21885340
18  ARID1A - CTNNB1   6.758728    7.035607   0.19578300
19  ARID1A - EGFR    -8.784250   -8.983674  -0.14101449
20  ARID1A - FBXW7   -5.548685   -4.739353   0.57228373
21  ARID1A - FGFR2    4.176191    4.651317   0.33596485
22  ARID1A - KDM6A   -4.471455   -4.890247  -0.29613033
23  ARID1A - KMT2C   -5.479870   -5.593141  -0.08009460
24  ARID1A - KRAS    10.456415    8.159914  -1.62387105
25  ARID1A - NF1     -5.060724   -5.386205  -0.23014982
26  ARID1A - NFE2L2   4.536732    4.082810  -0.32097095
27  ARID1A - PBRM1   -3.975181   -5.020352  -0.73904751
28  ARID1A - PIK3CA  12.328711   12.170258  -0.11204287
29  ARID1A - PIK3R1  -5.251047   -5.555865  -0.21553919
30  ARID1A - PTEN     7.962779    9.090092   0.79713076
⋮   ⋮               ⋮           ⋮           ⋮
373 TP53 - PBRM1      -7.884606   -7.267180  0.43658587
374 TP53 - PIK3CA   -114.456251 -114.164136  0.20655585
375 TP53 - PIK3R1     -7.536881   -8.212136 -0.47747693
376 TP53 - PPP2R1A     5.117430    4.997113 -0.08507729
377 TP53 - PTPRD      -5.128772   -3.722779  0.99418733
378 TP53 - PTPRT      -4.211807   -4.035073  0.12496988
379 TP53 - RAD50      -3.030958   -3.415917 -0.27220692
380 TP53 - RBM10     -18.272553  -20.391695 -1.49845915
381 TP53 - RHOA       -3.256505   -4.124357 -0.61366385
382 TP53 - RUNX1      -6.647560   -5.880002  0.54274601
383 TP53 - SETD2     -14.538946  -15.354196 -0.57646871
384 TP53 - SF3B1      -9.749968  -10.535184 -0.55523175
385 TP53 - SMAD2      -7.232427   -7.134703  0.06910124
386 TP53 - SMAD4     -11.255497  -10.487952  0.54273656
387 TP53 - SMARCA4    -6.752646   -6.633790  0.08404332
388 TP53 - SMO        -3.510890   -3.991624 -0.33993056
389 TP53 - SOX17      -2.966508   -3.830324 -0.61081002
390 TP53 - STAG2      -4.779452   -4.106796  0.47563918
391 TP53 - STK11     -24.674096  -25.162528 -0.34537309
392 TP53 - TET2       -4.150565   -4.400922 -0.17702897
393 TP53 - TGFBR1     -4.460692   -4.343124  0.08313336
394 TP53 - TGFBR2     -7.106324   -5.678937  1.00931503
395 TP53 - U2AF1      -4.334260   -5.246744 -0.64522348
396 TP53 - VHL       -11.973492  -12.472169 -0.35261746
397 TP53 - XPO1       -3.380409   -4.079500 -0.49433198
398 TP53BP1 - TP53    -5.394954   -5.831897 -0.30896566
399 U2AF1 - EGFR      -3.479227   -3.899057 -0.29686439
400 ZFHX3 - APC       -4.512695   -4.362348  0.10631141
401 ZFHX3 - CDK12     -3.428667   -3.366209  0.04416442
402 ZFHX3 - TP53      -9.425294  -10.246249 -0.58050303

In [73]:
min_distance = sort(abs(set$distance))[ round(0.99*nrow(set)) ]
min_distance

[1] 1.654

# Distane Cutoff selection : 
- Category of hits.
    - PM_enriched: Hits having distance cutoff `min_distance`
    - M_enriched: `m_count>=6 & p_count<=2`
    - P_enriched: `p_count>=6 & m_count<=2`
    - PM_switch:  `p_count>=6 & m_count>=6 & sign(met_wES*primary_wES)==-1`

In [74]:
pm<-plot_df
head(pm)

  id             primary_wES met_wES     m_count p_count diff      FC_observed
1 ESR1 - TP53      -5.611450  -42.251919 10      10      2.8805392  2.9125714
2 EGFR - TP53      -9.544392   15.431348 10       8      0.3846001  0.6931388
3 GATA3 - PIK3CA   -3.056907  -24.611199 10       1      2.7249020  3.0091706
4 PIK3CA - TP53  -119.710968 -103.943677 10      10      0.2000666 -0.2037533
5 EGFR - RBM10      7.429290   -4.939398  6      10      0.4175098 -0.5888893
6 CBFB - PIK3CA    11.100302   -1.072184  0      10      3.2172097 -3.3719744
  FC_background distance_observed
1 -0.032032182  -25.908724
2  0.308538701   17.660515
3 -0.284268551  -15.241186
4 -0.003686738   11.149158
5  1.006399020   -8.745983
6  0.154764709   -8.607247

In [75]:
min_sig  = 6
min_not = 2

pm$category = rep('selected', nrow = pm)
pm$category[ abs(pm$distance) > min_distance ] = 'PM_enriched'
pm$category[ abs(pm$distance) > min_distance & pm$p_count >= min_sig & pm$m_count <= min_not ] = 'P_specific'
pm$category[ abs(pm$distance) > min_distance & pm$m_count >= min_sig & pm$p_count <= min_not ] = 'M_specific'
pm$category[ abs(pm$distance) > min_distance & pm$m_count >= min_sig & pm$p_count >= min_sig & sign(pm$primary_wES*pm$met_wES) == -1 ] = 'PM_switch'

col = rep('gray70', nrow(pm))
col[ pm$category == 'PM_enriched' & abs(pm$primary_wES) < abs(pm$met_wES) ] = 'pink'
col[ pm$category == 'PM_enriched' & abs(pm$primary_wES) > abs(pm$met_wES) ] = 'lightblue'
col[ pm$category == 'P_specific' ] = 'blue'
col[ pm$category == 'M_specific' ] = 'red'
col[ pm$category == 'PM_switch' ] = 'darkgoldenrod1'

In [76]:
head(pm)

  id             primary_wES met_wES     m_count p_count diff      FC_observed
1 ESR1 - TP53      -5.611450  -42.251919 10      10      2.8805392  2.9125714
2 EGFR - TP53      -9.544392   15.431348 10       8      0.3846001  0.6931388
3 GATA3 - PIK3CA   -3.056907  -24.611199 10       1      2.7249020  3.0091706
4 PIK3CA - TP53  -119.710968 -103.943677 10      10      0.2000666 -0.2037533
5 EGFR - RBM10      7.429290   -4.939398  6      10      0.4175098 -0.5888893
6 CBFB - PIK3CA    11.100302   -1.072184  0      10      3.2172097 -3.3719744
  FC_background distance_observed category
1 -0.032032182  -25.908724        PM_enriched
2  0.308538701   17.660515        PM_switch
3 -0.284268551  -15.241186        M_specific
4 -0.003686738   11.149158        PM_enriched
5  1.006399020   -8.745983        PM_switch
6  0.154764709   -8.607247        P_specific

In [77]:
saveRDS(pm,file='/mnt/ndata/arvind/co_mutation_project/analysis/primary_met_work/results/msk_p_m_fold_change_data_frame.rds')